[2016-07-08 14:27] jayjaybillings opened #1 "Get DOE logo approval"
We need to get approval to use the DOE logo on this site. Daphne Evans at OSTI is looking into it for us.

[2016-07-11 14:31] jayjaybillings opened #9 "Need to document metadata"
We need to document all of the current metadata required by the ELink/old ESTSC entries so that we can put it to the requirements teams. We should put this information under doecode/docs. @vowelllDOE and @johnsonlva  will you take this since you know the most about the metadata?

[2016-07-11 14:35] jayjaybillings opened #10 "Identifying possible policy team members"
We need to identify people who will be members of our "OSTI policy" requirements team. This will be a group of people who are responsible for making sure that we gather all policy requirements for the old ESTSC so that we can put them in DOE code.

Obvious members include @vowelllDOE, @johnsonlva and I. @johnsonlva can you help us find others?

[2016-07-11 14:49] jayjaybillings opened #11 "Need to assemble the OSTI technical requirements team"
We need to identify people who will be members of our "OSTI technical" requirements team. This will be a group of people who are responsible for making sure that we gather all technical requirements for the old ESTSC, and come up with some ideas for what we will need for DOECode.

@MarkMartinDOE suggested @vowelllDOE, @nelsonjc-osti, @darelf, Neal, and Rebel. @vowelllDOE will you follow up with th

[2016-07-11 14:49] jayjaybillings commented on #11
And of course I'll be on the team.

[2016-07-11 14:50] jayjaybillings commented on #10
@MarkMartinDOE suggested Carly, Kim, Susie and Crystal too.

[2016-07-11 14:52] vowelllDOE commented on #9
Lorrie, can you hand this off to Susie?

From: Jay Jay Billings [mailto:notifications@github.com]
Sent: Monday, July 11, 2016 10:32 AM
To: doecode/doecode doecode@noreply.github.com
Cc: Vowell, Lance VowellL@osti.gov; Assign assign@noreply.github.com
Subject: [doecode/doecode] Need to document metadata (#9)

We need to document all of the current metadata required by the ELink/old ESTSC entries so

[2016-07-11 14:55] jayjaybillings commented on #9
Wow... those are some impressive link overrides...

[2016-07-11 14:58] vowelllDOE commented on #11
just sent an email.  we need to now schedule a meeting.  let me know when you have in mind.

[2016-07-11 15:01] vowelllDOE commented on #10
those are good suggestions, should make for a strong, initial team.

[2016-07-11 15:08] jayjaybillings commented on #11
Since everyone is at OSTI, then let's just do a face-to-face either this Friday or on the 29th. (The 29th might be better.)

[2016-07-11 15:11] vowelllDOE commented on #11
invite sent

[2016-07-11 15:19] vowelllDOE commented on #10
Chris Augustus may be a good addition to this team as well.  He has a lot of historic knowledge.

[2016-07-11 15:43] johnsonlva commented on #10
Thanks; I have a few others to add; listing all individuals below:

OSTI Policy team:  Lorrie Johnson, Lance Vowell, Susie Foust, Kim Buckner, Chris Augustus, Crystal Sherline, Carly Robinson, Sharon Jordan, Judy Gilmore

[2016-07-11 15:51] vowelllDOE commented on #11
adding Chris Augustus as well

[2016-07-13 18:56] jayjaybillings opened #13 "Create a doecode-dev mailing list"
We need a mailing list for doecode so that we can communicate with the whole team simultaneously. @vowelllDOE can you help me with this?

[2016-07-13 18:58] jayjaybillings opened #14 "How does the ESTSC name relate to DOECode"
Peter Lincoln has a lot of good thoughts about the ESTSC name versus the DOECode name and we should sync up with him about it.

[2016-07-13 19:08] jayjaybillings commented on #14
Note that Lorrie and Judy have information on this as well.

[2016-07-14 11:41] vowelllDOE commented on #13
who do you want as memebers?  Just the tech team?  or all?  Does this look right?

Jay
Mark
Lorrie
Josh
Darel
Tony
Chris
Mike

[2016-07-14 13:11] jayjaybillings commented on #13
Looks good. We should also add Peter Lincoln, Daphne Evans and Susie Faust.

You're not on that list, so make sure you get on there too! :-P

[2016-07-14 14:58] vowelllDOE commented on #13
this has been requested

[2016-07-18 13:48] vowelllDOE commented on #13
doecodedev &lt;AT> osti &lt;DOT> gov, this is complete

[2016-07-19 19:03] vowelllDOE commented on #13
the following have been added

gzpastorello@lbl.gov
phuck@lbl.gov
jlauret@bnl.gov

[2016-07-26 13:33] jayjaybillings commented on #13
This is done and working now.

[2016-07-26 13:33] #13 closed, assigned to jayjaybillings, vowelllDOE

[2016-07-26 13:34] jayjaybillings commented on #14
We have determined that we plan to change the name of ESTSC to DOE Code, but this will take some time and require a lot of paperwork.

[2016-07-26 13:34] #14 closed, assigned to jayjaybillings

[2016-07-26 13:35] jayjaybillings commented on #10
@johnsonlva Will you help me arrange a meeting with the policy team on Friday afternoon, if possible?

[2016-07-26 13:35] jayjaybillings commented on #1
We are working on approval for this and for a new DOE Code logo.

[2016-07-26 13:36] jayjaybillings commented on #11
We are meeting with this team on Friday. I'll update the ticket then.

[2016-07-26 17:15] johnsonlva commented on #10
I've sent a meeting notice for Friday, 1:30-2:30.  Thanks.

[2016-07-26 19:06] jayjaybillings commented on #10
Perfect! Thanks @johnsonlva!

[2016-07-29 20:01] jayjaybillings commented on #11
This team is assembled and includes me, @vowelllDOE, @nelsonjc-osti, @nensor, @darelf, Chris Augustus and @rpowell002.

[2016-07-29 20:01] #11 closed, assigned to jayjaybillings, vowelllDOE

[2016-07-29 20:02] jayjaybillings commented on #10
@vowelllDOE will you please add Judy, Lorrie, Susie, Kim, Chris, Crystal, and Carly to the doecodedev mailing list?

[2016-07-29 20:06] jayjaybillings opened #15 "Upload pictures for DOECode ideas from 20160729 technical requirements team meeting"
@rpowell002 Will you please upload the pictures from the technical requirements team meeting from 20160729 once they are approved?

[2016-07-29 20:09] jayjaybillings opened #16 "Need to test out web frameworks"
We need to test out web frameworks. There are two that I have in mind.

Eclipse Scout - https://eclipse.org/scout/
Vaadin - https://vaadin.com/home

Both of these have "Hello World!" tutorials that we should be able to test on some internal servers. Once we get them running, we can think about whether or not they would be helpful to us. The tutorials are at

Scout - https://eclipse.org/scout/
Vaad

[2016-07-29 20:46] nelsonjc-osti commented on #16
There's no need in the context of this particular testing (we can use the usual dev servers), but I've requested a new dev VM from systems specifically for the DOE Code project. That should give us a little more latitude with the environment if necessary.

[2016-08-01 12:03] vowelllDOE commented on #10
I will have Judy, Lorrie, Susie, Kim added as the rest are already on there.

[2016-08-02 15:25] darelf commented on #16
Looking at these options, I'm thinking vaadin is going to be a better choice for us.
I'll start poking around at it locally, and at some point we can move to the VM that Josh is talking about.

( I'm on vacation until middle of next week, so I may not have progress until then )

[2016-08-02 15:36] nelsonjc-osti commented on #16
That was my kneejerk after looking at both of them as well, although I haven’t put either to the test yet.

Joshua Nelson
IT Specialist
DOE/OSTI
(865) 576-6493
nelsonjc@osti.govmailto:nelsonjc@osti.gov

From: Darel Finkbeiner [mailto:notifications@github.com]
Sent: Tuesday, August 02, 2016 11:25 AM
To: doecode/doecode doecode@noreply.github.com
Cc: Nelson, Joshua nelsonjc@osti.gov; Assign assign@n

[2016-08-05 14:28] jayjaybillings commented on #10
I think we're all good on this. I have added the list of team members in the requirements doc.

[2016-08-05 14:29] #10 closed, assigned to jayjaybillings, johnsonlva, vowelllDOE

[2016-08-05 14:30] jayjaybillings commented on #9
@johnsonlva provided this information. It is available here:
http://www.osti.gov/stip/241.4

[2016-08-05 14:30] #9 closed, assigned to johnsonlva, vowelllDOE

[2016-08-05 14:57] jayjaybillings opened #17 "Develop draft OSTI blog article"

[2016-08-05 14:59] jayjaybillings opened #18 "Put together UI screens"
I have come up with several new UI screens that I would like to storyboard and try out in one or both systems mentions in #16.

These are purely for demonstration purposes and will be changed in the end, but they will help us explore some requirements now.

[2016-08-05 15:00] jayjaybillings opened #19 "Put together technical vision document"
We need a technical vision document that lays out in more detail my proposed design for DOECode.

[2016-08-05 17:55] jayjaybillings opened #20 "Need to digitize ESTSC history documents"
Kim Buckener found some information documenting the start of the ESTSC and its predecessors. I have given these to Daphne Evans and she is looking into having them digitized.

[2016-08-05 17:57] jayjaybillings opened #21 "Need to retreive old "about" information on ESTSC"
We need to retrieve the old "about" or "history" information from the ESTSC site. @nelsonjc-osti or @vowelllDOE, can you help us with this?

[2016-08-05 18:27] parkerdaph commented on #20
Familiarizing myself with GitHub so replying to this comment as practice.  I will work on getting the docs digitized.

[2016-08-05 18:31] nelsonjc-osti commented on #21
Fortuitously(?), the static includes file that was used to populate that page is still available here: http://www.osti.gov/includes/estsc/about.html

[2016-08-05 18:36] jayjaybillings commented on #20
You can also tag people in posts, @parkerdaph

[2016-08-05 18:53] jayjaybillings commented on #21
Thanks!

I have pasted the text below. Note that if you go to includes/estsc, there a pretty cool picture of a dude using a computer with a stack of hard drives behind it. I couldn't see his loaf-of-bread size cellphone anywhere though...

#

 About

The Energy Science and Technology Software Center (ESTSC) is the centralized software management facility for the U.S. Department of Energy (DOE).  A

[2016-08-05 18:53] #21 closed, assigned to nelsonjc-osti, vowelllDOE

[2016-08-09 17:02] parkerdaph commented on #20
digitization in progress @jayjaybillings

[2016-08-10 17:24] parkerdaph commented on #20
Digitization is complete for history docs @jayjaybillings. I will send you the file location via email.

[2016-08-19 12:01] #20 closed, assigned to jayjaybillings, parkerdaph

[2016-08-19 12:20] jayjaybillings commented on #18
@nelsonjc-osti and Andrew were going to look into this for us and try to create some wireframes. @vowelllDOE and I chatted about this by email too.

Here are some details on the various types of screens I think we have and for which we should generate wireframes. All of these would be OSTI-styled and share a header with a search bar at the top in addition to a drop down button to reveal the naviga

[2016-08-19 12:51] darelf commented on #16
Conceptually, there a few things that concern me with this particular style of UI framework:

The first is barrier to entry. This encapsulates both the idea that any given developer will need to know and understand a complete framework before trying to understand the project. That extends to more than just the traditional "developer" role, however, since this kind of framework affects even things

[2016-08-19 13:48] jayjaybillings commented on #16
@darelf I understand that you have concerns and I believe that they are very normal concerns. Please don't take this wrong way, but, that said, I think your analysis is naive and flawed.

First, all projects have a framework. Even projects that don't declare that they have a framework still have a framework. This was shown decades ago, if not when the Gang of Four wrote "Design Patterns" then defi

[2016-08-19 14:03] jayjaybillings commented on #16
I chatted with @darelf about this. The first thing to note is that the above is _not_ his final analysis. He's still looking into this, especially Vaadin. The above is just a collection of his concerns that actually form the basis for a good set of concrete questions to ask about on this.

Please add more questions below as you come up with them. Once we have a good list, then we can put them in d

[2016-08-19 15:15] darelf commented on #16
@jayjaybillings those are good questions.  I think the fundamental question is whether to use a pre-written framework at all. Thinking in terms of the Web UI, without first defining what the UI should be doing I think it might be difficult to answer these questions.

The answer may be that the front end is completely separate rather than being manipulated by Java object-oriented function calls.

[2016-08-19 19:42] jayjaybillings commented on #17
I developed this draft article and shared it with @PeterLincoln @MarkMartinDOE and @parkerdaph. I am adapting part of it into the technical requirements document while the rest of the crew reviews the blog draft.

[2016-08-19 19:43] jayjaybillings commented on #17
That technical document is being tracked by #19.

[2016-08-19 19:45] jayjaybillings commented on #19
@MarkMartinDOE requested various technical drawings to be in this document which I am working on. We rebuilt some drawings today based off of what we remembered from #15.
![img_1399](https://cloud.githubusercontent.com/assets/6378849/17822218/d596f9e6-6623-11e6-980f-787e8e5e3abc.jpg)
![img_1400](https://cloud.githubusercontent.com/assets/6378849/17822224/d891bafa-6623-11e6-862f-e1ae61f450e7.jpg)

[2016-08-19 19:49] vowelllDOE commented on #19
@jayjaybillings @tonybeery we will be creating a visio of the larger one next week.

[2016-08-19 19:53] jayjaybillings commented on #19
Cool. I'm working on one in UML, but I can get the tool to work correctly for the sequence diagram. :-(

[2016-08-26 11:30] jayjaybillings commented on #16
@darelf Ultimately that is the question we are trying to answer by trying these out. As we discussed in the last technical meeting, we should answer that question based solely on perception or comfort, but instead we should do a thorough evaluation of the features to make sure that we can say "Yes these provide tangible benefit" or "No they are a total waist of time." We can't do that without prot

[2016-09-21 15:17] jayjaybillings opened #24 "Need to merge DataCite with OSTI metadata"
During a meeting today @johnsonlva, @vowelllDOE and I discovered that the DataCite document is very confusing. So we need to have the whole policy team review the DataCite v.4 document and the OSTI 241.4 document to figure out how to merge them. @augustuscl is looking at this with Susie and Crystal too.

[2016-09-21 15:17] jayjaybillings commented on #24
Currently we are planning to do this again as a team during the 20160930 meeting.

Today we also reviewed the OSTI metadata and identified changes that we would like to make.

[2016-09-30 14:09] stooksburysl opened #26 "Review Zenodo"
We need to review Zenodo and look at if we can accept DOIs generated by Zenodo.

[2016-09-30 14:12] vowelllDOE commented on #26
@darelf can you handle this for us please?

[2016-09-30 14:12] stooksburysl opened #27 "Address and develop clear guidance for announcing limited software"
Address in policy meeting clear guidance on whether it is required to announce limited software.

[2016-09-30 14:21] stooksburysl opened #28 "Limited software batch submission"
Look at stream-line ways for batch submission of limited software.

[2016-09-30 14:22] stooksburysl opened #29 "Address software definitions"
Address definitions around software and what should qualify (i.e. would a couple of lines of code qualify?)

[2016-09-30 14:24] darelf commented on #26
@stooksburysl please define "accept DOIs".  Is that a policy question?

[2016-09-30 14:32] vowelllDOE commented on #26
@stooksburysl @darelf @jayjaybillings I believe the first thing we need to do (and possibly the only from a technical perspective) is where do their DOIs resolve to (github, there site, etc.) what metadata can we get from them, etc.

[2016-09-30 14:35] nelsonjc-osti commented on #26
Many of the ones I've seen resolve to document details, similar to ours, i.e. https://doi.org/10.3897/BDJ.4.e10194 ->
http://bdj.pensoft.net/articles.php?id=10194

[2016-09-30 14:39] nelsonjc-osti commented on #26
Sorry, better example: https://doi.org/10.5281/zenodo.157159 -> https://zenodo.org/record/157159#.V-548Pnx6JA ... and zenodo urls look like they have a predictable export variant, like ours

[2016-09-30 14:41] jayjaybillings commented on #26
This is a good question for the technical meeting in a few minutes.

[2016-09-30 16:40] stooksburysl opened #30 "Establish a controlled vocabulary for supplemental data"
We need to come up with a controlled vocabulary for supplemental material. What things do we want to give researchers the option to submit?

[2016-09-30 16:48] stooksburysl opened #31 "Need to address how to handle media"
We need to schedule a meeting for next week to discuss how we are going to handle multiple media.

[2016-09-30 16:50] stooksburysl opened #32 "Make minor changes to wire frames"
Need to make changes discussed during the 20160930 Technical meeting to the wire frames. @andrewsmith4814

[2016-09-30 20:15] stooksburysl opened #33 "Model ideal submission process"
Need to model (graphically) an ideal submission process that can then be reviewed.

[2016-09-30 20:15] jayjaybillings commented on #16
I found a really good presentation on styling in Scout.

https://wiki.eclipse.org/images/8/8e/20151102_ece_unconference_eclipse_scout_styling.pdf

[2016-10-03 13:03] vowelllDOE commented on #31
meeting has been scheduled for 10/7 at 1:30

[2016-10-05 12:54] stooksburysl opened #34 "Make introductions between contacts in the software community"
Charity offered to make introductions between the Business Development, TechTransition, OSTI, ORNL, other labs and others in the software community @Follett2

[2016-10-05 13:15] stooksburysl opened #35 "Schedule one-on-one discussion between interested parties"
Set up a one-on-one discussion between Ian Lee, LLNL, and other DOECode interested parties @Follett2

[2016-10-05 13:21] stooksburysl opened #36 "Provide the latest metadata requirements"
LLNL is moving from paper to electronic, so they would appreciate OSTI providing the latest metadata requirements

[2016-10-05 13:28] vowelllDOE commented on #36
Yes, once the document is in its next stage we need to send to Charity.

From: Shelby Stooksbury [mailto:notifications@github.com]
Sent: Wednesday, October 05, 2016 9:22 AM
To: doecode/doecode doecode@noreply.github.com
Subject: [doecode/doecode] Provide the latest metadata requirements (#36)

LLNL is moving from paper to electronic, so they would appreciate OSTI providing the latest metadata requ

[2016-10-11 17:19] stooksburysl opened #37 "Follow up with Mark about blog"
Follow up with Mark about blog @jayjaybillings

[2016-10-11 17:22] IanLee1521 commented on #35
Hi from @IanLee1521 :)

[2016-10-11 17:23] IanLee1521 commented on #36
Are the metadata requirements you mention in this repo?

[2016-10-11 17:36] IanLee1521 opened #38 "Tie in to Federal Source Code Policy"
I'm chatting with @jayjaybillings next week, but as a lead up, is this effort tied in and talking with the team (which I'm involved with) implementing / responding to the [Federal Source Code Policy](https://sourcecode.cio.gov)?

That work is being tracked over at: https://github.com/presidential-innovation-fellows/code-gov-web

[2016-10-11 17:56] jayjaybillings commented on #36
@IanLee1521 Not yet, but soon I think. We're meeting to discuss them a bit this Friday and then we should have the first draft uploaded soon.

[2016-10-11 17:56] jayjaybillings commented on #35
Welcome @IanLee1521! :-)

[2016-10-11 17:59] jayjaybillings commented on #38
Thanks @IanLee1521. @vowelllDOE, @MarkMartinDOE, and I are interested in engaging the code.gov team, but we are still discussing the best way to do that. So, the simple answer is no, but we hope that will change soon!

[2016-10-11 18:06] jayjaybillings commented on #33
@vowelllDOE and I did this on 2016 and @stooksburysl is going to try to create digital versions of the UML diagrams once we meet later this week.

[2016-10-18 15:49] stooksburysl opened #39 "Write report on wireframes once changes are in place"
Once changes to the wireframes have been made, write up a report. Over-write the files and put new pictures in place of the old. In markdown file, describe each picture. @andrewsmith4814

[2016-10-18 18:16] stooksburysl opened #40 "Continue work on metadata schema"
Work on the metadata spreadsheet a little more: add in more detail, map and change names, work on definitions, and go through the wizard screens & the 241.6 form to make sure nothing has been missed.

[2016-10-18 18:32] vowelllDOE commented on #40
Who has this assignment?

From: Shelby Stooksbury [mailto:notifications@github.com]
Sent: Tuesday, October 18, 2016 2:16 PM
To: doecode/doecode doecode@noreply.github.com
Subject: [doecode/doecode] Continue work on metadata schema (#40)

Work on the metadata spreadsheet a little more: add in more detail, map and change names, work on definitions, and go through the wizard screens & the 241.6 form

[2016-10-18 18:35] stooksburysl commented on #40
@vowelllDOE Crystal and Susie have this assigned to them. I did not see their names in order to tag/assign them.

[2016-10-21 14:33] jayjaybillings commented on #40
@stooksburysl I don't think Susie is on GitHub, but Lorrie is @johnsonlva.

[2016-10-21 14:33] jayjaybillings commented on #37
@PeterLincoln is working on this and hopes to have something soon.

[2016-10-21 14:33] #37 closed, assigned to jayjaybillings

[2016-10-21 14:58] jayjaybillings commented on #33
I'm trying to figure out the problem with the modeling tools.

[2016-10-21 19:16] jayjaybillings opened #42 "Get permission from to upload photos"
@stooksburysl needs to get permission from @rpowell002 to upload some photos from our design sessions.

[2016-10-22 18:27] IanLee1521 commented on #38
Following up from our call yesterday, here are some particular points where I think there is synergy between the two efforts:
- [WhiteHouse/source-code-policy#261: Contribution to existing Open Source Projects](https://github.com/WhiteHouse/source-code-policy/issues/261)
- [presidential-innovation-fellows/code-gov-web#43: A guide focused at helping an agency onboard GitHub](https://github.com/pres

[2016-10-24 17:45] stooksburysl opened #43 "Arrange travel for Ian Lee to visit ORNL if possible"
Per the conversation from the meeting on Oct. 21, 2016, work to arrange travel for Ian Lee to visit ORNL. @jayjaybillings  @IanLee1521

[2016-10-27 15:48] stooksburysl commented on #42
I have received permission to upload the photos from our design sessions, and will go ahead and add them.

[2016-10-28 13:46] jayjaybillings commented on #38
Thanks! @vowelllDOE, @MarkMartinDOE, and I will look over this.

[2016-10-28 17:29] jayjaybillings opened #44 "Need to create log of meetings"
We need to create a markdown file listing all of the meetings that we have held in a table. The table should be laid out as

| Team Name | Meeting Date |
| --- | --- |
| Dunkin' Donuts QA Team | 20161028 |

We should try to capture as many of our meetings as possible, so both @stooksburysl and I will work on the table (since some meetings are only recorded in my logs).

[2016-10-28 18:36] vowelllDOE commented on #44
Happy to help as needed.

From: Jay Jay Billings [mailto:notifications@github.com]
Sent: Friday, October 28, 2016 1:30 PM
To: doecode/doecode doecode@noreply.github.com
Subject: [doecode/doecode] Need to create log of meetings (#44)

We need to create a markdown file listing all of the meetings that we have held in a table. The table should be laid out as
Team Name

Meeting Date

Dunkin' Donuts QA

[2016-10-28 18:54] stooksburysl commented on #44
I agree. This will be a good reference for us. I will start working on this on Monday. I can update the ticket whenever I post the table of meetings that I have a record of.

[2016-10-28 19:30] vowelllDOE commented on #40
I will have a listing for us to review early next week.  Meeting invites going out soon.

[2016-10-28 19:53] jayjaybillings commented on #44
Added @vowelllDOE to the assignee list since he volunteered!

[2016-10-28 19:57] vowelllDOE commented on #44
I volunteered for the metadata table

From: Jay Jay Billings [mailto:notifications@github.com]
Sent: Friday, October 28, 2016 3:54 PM
To: doecode/doecode doecode@noreply.github.com
Cc: Vowell, Lance VowellL@osti.gov; Mention mention@noreply.github.com
Subject: Re: [doecode/doecode] Need to create log of meetings (#44)

Added @vowelllDOEhttps://urldefense.proofpoint.com/v2/url?u=https-3A__github.co

[2016-10-28 20:24] jayjaybillings commented on #44
@vowelllDOE Ah. Different ticket! See - #40

[2016-10-31 13:08] stooksburysl commented on #44
I created the table of meetings that I had record of under the docs file called DOECode-Meetings.md

[2016-11-01 14:14] jayjaybillings opened #45 "Create a simple AngularJS demo splash page"
We need to create a simple index.html that uses AngularJS for testing with DOECode. This should be done in this repository, not the doecode.github.io repo, which is going away.

[2016-11-01 14:15] jayjaybillings opened #46 "Test structured data in AngularJS with Google and other things"
We need to test structured data rendered by AngularJS with Google and other services. Likewise, we need to test other concerns that @nelsonjc-osti has.

@darelf will take point on this with guidance from @nelsonjc-osti.

[2016-11-01 14:16] jayjaybillings commented on #45
@darelf will take point on this with guidance from @nelsonjc-osti.

[2016-11-01 14:17] jayjaybillings opened #47 "Setup a simple Eclipse Scout application on AWS"
We need to setup a simple Scout application on AWS.

Both @darelf and I will work on this one.

[2016-11-01 14:19] jayjaybillings commented on #47
Once we get this simple app running, we need to put some sort of Scout Form in it that looks like a metadata form.

I already have some sample code for this, so I'll modify it and get it into the repo. This task definitely shouldn't start until after #45 and #46 are done.

[2016-11-01 14:20] jayjaybillings opened #48 "Run security tools on the demo page + Scout application"
We should run OSTI's security tools again the demo page and Scout application from #45, #46, and #47.

[2016-11-01 14:20] jayjaybillings commented on #16
@nelsonjc-osti, @darelf, and I met about this on Friday. We need...
1. Create a "test and demo" page in the doecode repo. Just a basic index.html with some angular and bootstrap thrown in. #45
2. Test some structured data with angular and Google, as well as all the other stuff Josh wants to sink his teeth into. #46
3. Connect the demo page to a simple Scout application on AWS. We want to use AWS s

[2016-11-01 15:56] stooksburysl opened #49 "Number wireframes in order to link to UML models"
We need to number the wireframes so that we can reference them by number to the steps that correspond in the UML submission models.

[2016-11-01 18:57] darelf commented on #45
I've put a simple angularjs demo page in the demo/ folder.  Not sure where to go from here.

[2016-11-02 10:54] jayjaybillings commented on #45
Will you also do one in Angular 2 please? (2.1.1 or something.)

After that, I think it is time to move on to #46 for both the examples.

It isn't clear yet whether or not the doecode.github.io site will go away, so I'll let you know if we need to move this later.

[2016-11-02 12:41] darelf commented on #45
@jayjaybillings that's going to take some time. Angular2 is needlessly complicated and none of the tutorial documentation is available in JavaScript. (TypeScript is a non-starter)

[2016-11-02 12:59] jayjaybillings commented on #45
Do you mean the official quickstart tutorial isn't in JavaScript?

https://angular.io/docs/js/latest/quickstart.html

[2016-11-02 13:07] darelf commented on #45
@jayjaybillings No, I mean the tutorial ( https://angular.io/docs/ts/latest/tutorial/ )

The quickstart doesn't go over data modeling. So if you want something similar to the other demo page where there is a backing data model in javascript, I'm going to have to spend some time figuring that out.

[2016-11-02 13:07] jayjaybillings commented on #45
Here's another good one:

https://daveceddia.com/angular-2-in-plain-js/

On a side note, the author mentions React as an alternative to Angular 2, which was on my short list of ones to try too, but I've never used it.

[2016-11-02 13:09] jayjaybillings commented on #45
I see what you mean, @darelf. Go ahead and take some time to look at it. Figuring out some of these things is the point of doing the prototyping exercise.

[2016-11-02 13:19] darelf commented on #45
That daveceddia page doesn't ever load for me, it just spins.

I've heard of React, but I guess the important question is: What is goal here? What do we actually need the front end to do, as opposed to the server?

( I would propose that client-side templating is basically the incorrect choice _most of the time_ )

[2016-11-02 13:24] jayjaybillings commented on #45
At the moment we need for an Angular 2 demo page. That is all. I will send you a PDF of the daveceddia page.

[2016-11-02 13:28] jayjaybillings commented on #45
Okay... so the OSTI servers won't let me send you the PDF. :-(

[2016-11-02 13:34] jayjaybillings commented on #45
Since this is just a prototype, why don't you go ahead and do a Typescript prototype for Angular 2 instead of Javascript?

My concern here is that I don't want us to turn down technologies for superficial reasons. For example, I don't want us to turn down Typescript just because it is another language. I would like have some concrete things to point to like "Wow, that optional static typing turned

[2016-11-02 13:49] darelf commented on #45
Does anyone on the team know Typescript already?  I have never touched it. I stay away from all of that (CoffeeScript, etc), and would not be comfortable with being able to get any kind of useful demo out of it in a reasonable time frame.

I'm not against other languages just to be against them, but since this isn't my only project I have to prioritize how much time I spend trying to learn a new l

[2016-11-02 13:53] vowelllDOE commented on #45
Let’s see if Andrew does

From: Darel Finkbeiner [mailto:notifications@github.com]
Sent: Wednesday, November 02, 2016 9:50 AM
To: doecode/doecode doecode@noreply.github.com
Cc: Vowell, Lance VowellL@osti.gov; Assign assign@noreply.github.com
Subject: Re: [doecode/doecode] Create a simple AngularJS demo splash page (#45)

Does anyone on the team know Typescript already? I have never touched it. I s

[2016-11-02 13:56] jayjaybillings commented on #45
@darelf Sounds good. Thanks!

@vowelllDOE If @andrewsmith4814 doesn't know it, I'll take the task and explore it.

[2016-11-02 14:00] andrewsmith4814 commented on #45
I don't know typescript. I would not object to taking time to learn it though, assuming @vowelllDOE is fine with that.

[2016-11-07 14:52] stooksburysl opened #50 "Sketch out model for lines 8, 9, and 10 in the Metadata Software fields list"
Sketch out the Developer(s)/Creator, Contributing Organizations, and Originating Research Organization(s) fields by possibly pulling to a higher level to avoid issues with them. Try to fix them all having to be M/O.

[2016-11-08 15:06] davisl-doe-osti opened #52 "Create email DL for www.osti.gov/doecode/"
Need to create a new DL for doecode@osti.gov, including davisl@osti.gov and others you recommend.  Once created, I'll get links for the DL added to  (1) "Contact Us" (2) "Have feedback or questions?  Let us know!" in the footer at www.osti.gov/doecode/.   @jayjaybillings  @vowelllDOE

[2016-11-08 16:58] vowelllDOE commented on #52
@davisl@osti.gov, you can request this be created via the helpdesk help@osti.govmailto:help@osti.gov

From: Lynn Davis [mailto:notifications@github.com]
Sent: Tuesday, November 08, 2016 10:06 AM
To: doecode/doecode doecode@noreply.github.com
Cc: Vowell, Lance VowellL@osti.gov; Mention mention@noreply.github.com
Subject: [doecode/doecode] Create email DL for www.osti.gov/doecode/ (#52)

Need to cre

[2016-11-08 17:01] jayjaybillings commented on #52
+1. Great idea.

Just to say it explicitly, having it as a contact option means that it needs to be an open list so that anyone can email it.

[2016-11-08 17:08] IanLee1521 commented on #52
Who all are the intended / desired recipients? Is this going to be a distribution list that others / partners can join?

[2016-11-08 20:15] davisl-doe-osti commented on #52
Visitors to www.osti.gov/doecode/ can email questions and feedback to OSTI via the OSTI website manager ("product manager") and designated backups via Outlook DL; the Contact Us page ([example](www.osti.gov/scitech/contact)), for one, could include other contact info.

[2016-11-08 20:56] jayjaybillings commented on #52
That's a good question. We'll think on this and get back to you!

[2016-12-08 14:29] stooksburysl opened #57 "Review Metadata response"
- I hope they are syncing with the code.gov presidential effort. I noticed a few DOE projects already on that site. They have a meta-data requirement list at https://github.com/presidential-innovation-fellows/code-gov-web/blob/master/_draft_content/02_compliance/05-metadata-schema-definition.md that we should include at a bare minimum.

- Also classification level, export control status, date of l

[2016-12-08 14:55] stooksburysl opened #58 "Review Metadata response about government-wide reuse license"
- One thing that seems to be missing from the DOE list (but is in the presidential list) is an explicit flag for whether or not the code is available for government-wide reuse.

[2016-12-08 15:03] stooksburysl opened #59 "Review Metadata response question about Code.gov"
- I don’t have much specifically, other than to ask if you’ve looked at the schema definition for the Federal Source Code policy: https://github.com/presidential-innovation-fellows/code-gov-web/blob/master/_draft_content/02_compliance/05-metadata-schema-definition.md Which has a number of similar fields. At least where there is overlap you might want to consider using the same name. For instance,

[2016-12-08 15:14] stooksburysl opened #60 "Review Metadata response w.r.t. licenses, etc. and cpu codes"
1. For Developer(s)/Creator, I do believe that affiliation should be mandatory.  Also, is there a way for developers names to be recalled when you begin typing them into the system?

 2. For Rights/Licenses/Legal Notices/Disclaimers, can you tell me what would normally be seen here?  Most all of our authors state none.  However, is this where the copyright information/notice should be noted even i

[2016-12-08 18:22] stooksburysl opened #62 "Write up a "tweet" to use for socialization of the blog"
Write up a “tweet” that members of the Core requirements team can use to socialize the blog on twitter or the user homepage. @davisl-doe-osti

[2016-12-08 18:34] IanLee1521 commented on #60
Would these responses be better posted as pages in the [/docs](https://github.com/doecode/doecode/docs) directory?

[2016-12-08 18:39] jayjaybillings commented on #60
We're not sure about that yet. We're going to review what we need to do with these in our policy meeting tomorrow and in a few weeks.

[2016-12-09 20:01] stooksburysl commented on #42
This task was completed on 10/27/2016.

[2016-12-09 20:01] #42 closed, assigned to stooksburysl

[2016-12-09 20:22] davisl-doe-osti commented on #62
Done.  "Tweet" text provided to doecodedev@osti.gov for anyone who'd like to socialize it, e.g., @IanLee1521, Patrick Huck, LBL phuck@lbl.gov; Gilberto Pastorello, LBL GZPastorello@lbl.gov
Thanks!

[2016-12-09 20:22] #62 closed, assigned to davisl-doe-osti

[2016-12-09 20:26] davisl-doe-osti commented on #52
Done.  doecode@osti.gov address created and linked for feedback/questions [www.osti.gov/doecode](url)/

[2016-12-09 20:26] #52 closed, assigned to nobody

[2016-12-09 20:34] IanLee1521 commented on #62
Definitely! How can I get the text? Is there a tweet I can simply re-tweet?

[2016-12-09 20:36] IanLee1521 commented on #52
@davisl-doe-osti / @jayjaybillings -- Was it ever determined if / how partners might be able to get onto the distribution list?

[2016-12-09 21:10] davisl-doe-osti commented on #62
Ian (all), the text and image follow and we've assured you get the memo next time!  Thanks!

@OSTIgov Developing Open Source, Social Coding Platform for DOE Scientific Software: DOE Code http://www.osti.gov/oUU  #opensource

![doe code logo](https://cloud.githubusercontent.com/assets/22348035/21064588/9120a010-be29-11e6-98bc-d97b6ae2e21a.png)

[2016-12-09 21:12] davisl-doe-osti commented on #52
@IanLee1521 -- I'll defer to @jayjaybillings

[2016-12-09 22:12] IanLee1521 commented on #62
Done!

- https://twitter.com/IanLee1521/status/807344661706641408
- https://twitter.com/LLNL_OpenSource/status/807344716417073152

[2016-12-10 22:48] davisl commented on #52
I think I've been included on this email chain by mistake.

Lee Davis

________________________________
From: Lynn Davis <notifications@github.com>
Sent: Friday, December 9, 2016 3:12:28 PM
To: doecode/doecode
Cc: Davis, Lee; Mention
Subject: Re: [doecode/doecode] Create email DL for www.osti.gov/doecode/ (#52)

@IanLee1521<https://github.com/IanLee1521> -- I'll defer to @jayjaybillings<https://gi

[2016-12-15 15:45] stooksburysl opened #65 "Create mapping between DOE Code and E-Link"
Mandatory mapping between DOE Code and E-Link is needed.

[2016-12-15 15:46] stooksburysl opened #66 "Give Demo of TypeScript"
Give a demo of TypeScript to explore its dynamic capabilities on the front end at a Technical meeting after the first of the year.

[2016-12-15 15:46] jayjaybillings commented on #65
Mandatory? Do you mean abstract?

[2016-12-15 15:47] jayjaybillings commented on #65
Oh, wait, I know what this is from. Sorry!

We're saying that we will need to map the metadata that DOE Code uses to what ELink expects if there are significant differences.

[2016-12-15 15:57] stooksburysl opened #67 "Create a Metadata Application Profile"
Create a metadata application profile from version one of the metadata.

[2016-12-16 13:49] davisl-doe-osti commented on #62
Ian, thanks much!

[2016-12-28 18:28] stooksburysl opened #68 "Flesh out plans for handling closed source software"
Discuss plans for handling closed source software in policy meetings, including how to make it easier to submit new versions of software.

[2016-12-28 18:53] stooksburysl opened #69 "Discuss how to accommodate various pages (DOE Code’s page, lab’s splash page, separate page for repo)"
During the discussion at the 20161214 STI Managers/Software POCs meeting, it was mentioned that PNNL wants to have software available on their online site/store’s software portal and to be able to drive traffic there. An action item was made here to discuss how to accommodate DOE Code’s page, the lab’s splash page, and the separate page for the repository. Also, follow up with PNNL after this has

[2016-12-28 19:21] IanLee1521 commented on #69
FWIW, we @LLNL also have our own portal that we've been trying to funnel traffic through: https://software.llnl.gov

[2017-01-03 17:52] andrewsmith4814 commented on #66
I'm going to be writing out points to discuss as comments on this issue.
I've been experimenting with pulling different data points from github. It turns out they throttle based on IP (seems to be outgoing IP, so whether you exceed it in DEV or TEST, you're going to get a forbidden call for a while). The amount of data we pull and how frequently we pull this data will be affected by this throttlin

[2017-01-03 17:53] andrewsmith4814 commented on #66
I did some brief looking up, and looked into "authenticated" apps. I'm not really sure how the process is supposed to work. What I do know is that they allow you to make more API calls in a given length of time than non-authenticated apps.

[2017-01-03 19:17] andrewsmith4814 commented on #66
There is a call that can be made to the github API to see how many calls you can still make at a given time. It's https://api.github.com/rate_limit

[2017-01-03 19:58] andrewsmith4814 commented on #66
After further consideration, weighing out the options, and observing how typescript is implemented in non-node.js projects, I believe that we should not use typescript, and simply stick with logic-less templating (I.E. Mustache)

[2017-01-03 20:04] darelf commented on #66
We could just switch the project to node.js and that would solve that issue. :>

[2017-01-03 20:37] andrewsmith4814 commented on #66
That is a terrible solution

[2017-01-03 22:03] jayjaybillings commented on #66
+1 on no node! ;-)

I'm curious, what did you find about using Typescript without node that bothered you? It would be good to document these things because I inevitably get asked "Why didn't you do X?" when I'm speaking about this work.

As for authenticated apps, we can make access tokens so that you can authenticate. I always figured we would do it that way anyway, so just get one of the doecode

[2017-01-04 12:53] andrewsmith4814 commented on #66
At the moment, I believe that implementing typescript for this project would become more trouble than it's worth for the type of work we are doing. There doesn't seem to be any good implementations of Typescript for java web applications. Typescript takes npm to run and build, which would mean many of our developers would have to install and learn how to use npm. Typescript also adds another layer

[2017-01-04 13:09] vowelllDOE commented on #66
I would like Josh to weigh-in on this

From: Andrew Smith [mailto:notifications@github.com]
Sent: Wednesday, January 04, 2017 7:54 AM
To: doecode/doecode <doecode@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [doecode/doecode] Give Demo of TypeScript (#66)

At the moment, I believe that implementing typescript for this project would become more trouble than it's w

[2017-01-04 14:29] andrewsmith4814 opened #70 "Github Integration Testing and UI Test"
Write some basic mockups of the UI, all the while testing integration with github

[2017-01-04 20:49] jayjaybillings commented on #66
If Typescript requires node, which I don't know that it totally does, then I definitely think we should stay away from it. However, note that node.js runs on the JVM to:

http://eclipsesource.com/blogs/2016/07/20/running-node-js-on-the-jvm/

Good topic for Friday if I can finish up this proposal for my exam next week.

Jay

Sent from my iPad

[2017-01-05 19:21] jayjaybillings commented on #60
Number 5 above will note be an issue with DOECode because we are not going to require a "cpu code."

[2017-01-05 19:21] jayjaybillings commented on #60
@vowelllDOE and I will comment on 1-4 tomorrow.

[2017-01-05 19:24] jayjaybillings commented on #58
I'm going to speak to our legal council about this because I think all code coming through OSTI must also be released under a government-wide reuse license.

[2017-01-06 06:34] twelsch1 commented on #66
I'd like a bit of time to investigate this as well.

Also, my understanding was that we were really looking into Angular 2 (which uses Typescript) in the context of a broader investigation into using a web framework for this application. Is this correct? Typescript itself is not a web framework, but rather an open source programming language that is a superset of Javascript that transcompiles into

[2017-01-06 13:15] jayjaybillings commented on #66
Tom: Correct on all accounts.

Sent from my iPad

On Jan 6, 2017, at 1:34 AM, Thomas Welsch <notifications@github.com<mailto:notifications@github.com>> wrote:

I'd like a bit of time to investigate this as well.

Also, my understanding was that we were really looking into Angular 2 (which uses Typescript) in the context of a broader investigation into using a web framework for this application. Is

[2017-01-12 18:46] gilbertozp opened #71 "Add summary of main features for DOE Code"
While there is information about DOE Code efforts in the repo, blog posts, and Web pages, it would be good to have a more technically oriented list of features for the project. In particular, it would be useful to have wording that can be included in proposals that will plan to use the platform (e.g., for a proposal that might want to use DOE Code to help with fulfilling data/code management requi

[2017-01-12 19:07] jayjaybillings commented on #71
Would any of this be helpful?

https://github.com/doecode/doecode/blob/master/docs/requirements.md

[2017-01-24 14:30] stooksburysl opened #75 "Make 'Author Affiliations' changes to the corresponding wireframes"
Make changes to the 'Add Edit Author' and 'Create New Account' wireframes that were discussed at the 20170120 Technical Meeting. @andrewsmith4814

[2017-01-27 20:14] stooksburysl opened #76 "Spec out and create workflow diagram for account and contract validation"
Need to spec out and create workflow diagram for account and contract validation to distinguish labs from grantees.

[2017-01-27 21:15] jayjaybillings opened #77 "Figure out licensing model for Lab+Fed+Contractor code"
@vowelllDOE and I need to continue to work out the licensing model for a project with code comprised of contributions from Lab, Fed, and Contractor (IIA) code. That needs to happen before serious development on the alpha release can begin.

[2017-01-27 21:23] jayjaybillings opened #78 "Split demo into React UI and Java backend services"
Right now our demo is serving the React UI code directly from the Java backend. We should split these apart so that the React UI is served on its own, independent node.js server and accesses the Java backend through a JAX-RS web API, which runs on its own Tomcat server.

[2017-01-27 21:27] jayjaybillings opened #79 "Restyle demo pages"
The demo pages for the DOE Code demo need to be restyled to use tabs and other optimizations. @twelsch1 will take care of that and engage another dev to do CSS styling to match the splash page at http://www.osti.gov/doecode.

[2017-01-30 15:51] stooksburysl opened #80 "Pull together PowerPoint for meeting"
Pull together PowerPoint presentation for the upcoming Director's meeting at OSTI. @vowelllDOE

[2017-01-30 15:54] stooksburysl opened #81 "Obtain credentials at ORNL for developers to test repo"
Get developers appropriate credentials at ORNL to test code.ornl.gov repo. @jayjaybillings

[2017-01-31 13:39] stooksburysl opened #82 "Create wireframe and activity diagram based on Tech meeting whiteboard photo"
We need to create a wireframe and activity diagram based on the whiteboard photo from the 20170127 Technical meeting. @andrewsmith4814 will create the wireframe. The link to the photo is below.

https://github.com/doecode/doecode/blob/master/docs/osti-technical/20170127%20Meeting%20Photo.jpg

[2017-01-31 13:42] vowelllDOE commented on #82
Let’s have the wireframes by Friday please. @andrewsmith4814<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_andrewsmith4814&d=DwMCaQ&c=OVj76tllZE_4gBEaWJYhU4JZsuQ7_Mqu0kOhh-lhZGA&r=CFs-HoQ4B8CCqTdQ87dNyQ&m=DWXK4x2yZ40VCUFJOrz3qjD_ZQFJzIZq0fdCN_COmtc&s=1TRAVptG5ZeObT1RxTZWessoDMdAOXkTgkX2BH5es34&e=>, let’s discuss sometime this afternoon please.

From: Shelby Stooksbury [mailto:not

[2017-02-02 21:00] andrewsmith4814 commented on #75
The appropriate change has been made

[2017-02-02 21:01] andrewsmith4814 commented on #82
I have added a new wireframe reflecting the posted image

[2017-02-03 15:57] #67 closed, assigned to keknight

[2017-02-03 15:59] vowelllDOE commented on #58
@keknight will add this field

[2017-02-03 16:00] #50 closed, assigned to jayjaybillings

[2017-02-03 16:01] vowelllDOE commented on #65
@nensor @twelsch1 and I are working on this

[2017-02-03 17:50] stooksburysl opened #83 "Discuss persistence of limited data"
@vowelllDOE @jayjaybillings Need to talk to @MarkMartinDOE about the persistence of limited data.

[2017-02-03 17:52] stooksburysl opened #84 "Map access limitations in metadata schema"
@keknight needs to work with @augustuscl to map access limitations in the metadata schema.

[2017-02-03 18:02] stooksburysl opened #85 "Put in IConnector interfaces"
Put in IConnector interfaces. @nensor

[2017-02-03 18:05] stooksburysl opened #86 "Create DataCite mapping for metadata"
Need to create DataCite mapping for metadata. @keknight

[2017-02-06 14:09] stooksburysl opened #87 "Using YAML template and map, add functionality to demo"
Using the YAML template and map that @keknight created, add YAML functionality to the demo. @nensor

Template:
https://github.com/doecode/doecode/blob/master/metadata-schema/YAML_template_for_doecode_user.yml

Map:
https://github.com/doecode/doecode/blob/master/metadata-schema/YAML_template_field_map.yml

[2017-02-06 14:37] twelsch1 opened #88 "Features for Director's Meeting Demo"
We have a director's meeting coming up on the 15th and need to have a code freeze at least a couple of days before the meeting. As such, we need to determine the features to be completed prior to the code freeze. I have a list below based off Friday's technical meeting. Please read over these and provide input so that we are all on the same page for the demo.

**Splash Page** - Splash page with a

[2017-02-06 15:07] twelsch1 commented on #88
Another feature I think we'll have for the demo.

**YAML autopopulate** - Look for a Yaml file with OSTI metadata in the repository and parse then autopopulate based off that metadata.

[2017-02-06 15:25] vowelllDOE commented on #88
agree on all of these

[2017-02-06 15:28] vowelllDOE commented on #80
I hope to send my cut to @jayjaybillings @MarkMartinDOE today

[2017-02-06 15:30] #82 closed, assigned to andrewsmith4814

[2017-02-06 15:30] keknight commented on #59
Met with Ian, went over DOECode Metadata Application profile with him. No conflicting fields found; need to add boolean local field for "Government Wide Reuse" (default value will be "yes" per meeting on 2/6 with Lance + Jay).

[2017-02-06 15:30] vowelllDOE commented on #78
@twelsch1 @nensor work for this week?

[2017-02-06 20:18] stooksburysl opened #89 "Have E-Link registering DOIs by release of DOE Code Alpha"
We need to have E-Link registering DOIs for software by the September release of DOE Code Alpha.

[2017-02-07 14:51] nensor commented on #87
Can I get some example YAML files to process?  Have we decided on a common name/location for such repository files?  I'm assuming in order to read and process, we will need a known-name .yaml file in the root (master) repository of the project.

[2017-02-07 14:57] vowelllDOE commented on #87
@keknight @jayjaybillings questions

[2017-02-07 15:23] keknight commented on #87
Sure! How many test files do you want? Any particular fields you wish to test out (versioning, identifiers, handling typos and name variations, that sort of thing)? Let me know where you want them saved/if you want them named in a particular way (yaml_test_file1.yml, yaml_test_file2.yml, etc.).

[2017-02-09 16:48] nensor commented on #87
Added test files in current metadata format for mapping on doecode/dev-test-repo root.  Presently, if this file exists on a project's root master branch, it will be parsed via the auto-populate function in lieu of API calls.

[2017-02-09 16:49] nensor commented on #85
Can I get some pattern/examples to follow?  @jayjaybillings Google is not being helpful, want to make sure I'm modeling the connectors appropriately.

[2017-02-09 18:16] jayjaybillings commented on #85
Yes. I'll work with you on it. Can we maybe pick this up face to face next week? (I'm about to go on stage for a talk.)

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Neal Ensor <notifications@github.com>
Sent: Thursday, February 09, 2017 11:49 AM
To: doecode/doecode
Cc: Billings, Jay Jay; Mention
Subject: Re: [doecode/doecode

[2017-02-09 18:16] jayjaybillings commented on #87
That's perfect. I can't wait to see it!

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Neal Ensor <notifications@github.com>
Sent: Thursday, February 09, 2017 11:48 AM
To: doecode/doecode
Cc: Billings, Jay Jay; Mention
Subject: Re: [doecode/doecode] Using YAML template and map, add functionality to demo (#87)

Added test files

[2017-02-17 15:35] #88 closed, assigned to nobody

[2017-02-17 15:35] vowelllDOE commented on #86
@keknight is going to attempt to have this for @nensor week of 2/20

[2017-02-17 15:36] vowelllDOE commented on #85
@jayjaybillings @nensor did this conversation happen?

[2017-02-17 15:36] vowelllDOE commented on #84
@augustuscl @keknight let's not forget this one

[2017-02-17 15:36] #80 closed, assigned to vowelllDOE

[2017-02-17 15:37] #79 closed, assigned to twelsch1

[2017-02-17 15:37] vowelllDOE commented on #78
@twelsch1 @nensor how is this coming?

[2017-02-17 15:37] #75 closed, assigned to andrewsmith4814

[2017-02-17 22:26] jayjaybillings commented on #85
Yes it did. @nensor is working on it.

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings

On Feb 17, 2017, at 10:36 AM, vowelllDOE <notifications@github.com<mailto:notifications@github.com>> wrote:

@jayjaybillings<https://github.com/jayjaybillings> @nensor<https://github.com/nensor> did this conversation happen?

-
You are receiving this because you were mentioned.
Re

[2017-02-19 14:01] nensor commented on #78
The jaxrs branch effectively splits off the back-end services for the Tomcat-based portion, @twelsch1 and I are working on splitting off the react portion to be run by node.js for the front-end.

[2017-02-19 18:10] twelsch1 commented on #78
I spent Friday researching/deciding some changes to move it to a front end server and enable hot reloading. I've decided on using the implementation from the react-router demo (I'm also going to move our stuff to use react-router) which will rely on the webpack-dev-server for dev and then use a slightly modified version of the react-router demo's production-ish server for production.

I'm also wor

[2017-02-19 18:18] twelsch1 commented on #78
Comment above is meant to note languagebabel compiles jsx to js. Autocorrect got me. Also, ignore that I closed the issue for 30 seconds..

[2017-02-20 14:28] jayjaybillings commented on #78
?At some point we need to go through all the different pieces of React that you are using. On important thing to look at here is license compatibility.

Jay

Jay Jay Billings
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Thomas Welsch <notifications@github.com>
Sent: Sunday, February 19, 2017 1:18 PM
To: doecode/doecode
Cc: Billings, Jay Jay;

[2017-02-21 00:55] jayjaybillings opened #90 "react-demo fails with jetty:run"
I modified the Maven build system to launch the war file with Jetty, which is a great way to do fast testing in development (it monitors source files and rebuilds): https://www.eclipse.org/jetty/documentation/9.4.x/jetty-maven-plugin.html

It would be very valuable for us be able to run, at least, the front end of DOE Code this way because it will let us do very fast testing and make it easier to

[2017-02-21 00:56] jayjaybillings commented on #90
Also executing ctrl+c to stop fails.

[2017-02-22 15:55] nensor commented on #85
@jayjaybillings Please check out the jaxrs branch in the "connectors" source folder to see if this is along the lines of what you're looking for.  Just committed some changes creating a Singleton-patterned Factory wherein you .add() instances of each ConnectorInterface-implementing class in order to read metadata.  The read(String url) method will attempt to retrieve from each in turn until it fin

[2017-02-22 16:05] stooksburysl opened #91 "Include Web APIs for lab submission and dissemination for Alpha release"
As an Alpha requirement, include web APIs for lab submission and dissemination.

[2017-02-22 16:33] jayjaybillings commented on #85
This is a good start. There are some minor things I want to change (ConnectorInterface should be IConnector, etc.). We should also look at fleshing out the interface some more.

One major thing that I would like to do is to use annotations to eliminate the factory. Where possible we should always let the JVM do work for us and most of the time using the "@Provider" annotation will eliminate factor

[2017-02-23 15:21] nensor commented on #85
That will be fine, any time it's convenient will work for me.

[2017-02-23 16:20] twelsch1 commented on #90
What you're seeing is a pretty standard Log4j configuration error. In this specific case, it's because we haven't specifically configured log4j for Jetty and the log4j config file is relying on catalina.base. That shouldn't, however, cause the server to crash or have any functional impact other than logging won't work. Neal configured the logging previously, I'll ask him to look into getting it se

[2017-02-27 18:32] vowelllDOE commented on #81
what is the status of this?

[2017-02-28 22:31] nensor commented on #87
Please note I have changed the schema somewhat for the YAML file; should conform to a newer, more complete DOECode metadata schema I have been discussing with @keknight today.  I will publish the latest changes to the jaxrs branch soon with all these changes.  Includes new support for sponsoring, contributing, and research organizations, as well as contributors, related identifiers, and others.

T

[2017-02-28 23:03] tschaume opened #92 "YAML File in DoeCode user repo"
I've used the current template for the YAML file and added it as `doecode.yml` with updated info to one of our repos: https://github.com/materialsproject/MPContribs/blob/master/doecode.yml
Filling this out, even only for one repo, is cumbersome. I'm hoping we can automate most of it away when we start testing it as part of the MPContribs repo. As suggested in the last meeting, it'd make it easier

[2017-03-01 16:48] vowelllDOE commented on #92
@nensor @twelsch1 @keknight @stooksburysl good requirements here for when we automate YAML file generation in DOECode.  I envision this being passed a repository URL and spitting out a YAML file

[2017-03-01 16:51] vowelllDOE commented on #92
@tschaume Pat, can you change the name of your .yml to metadata.yml please?

[2017-03-01 17:12] jayjaybillings commented on #92
I was also thinking about the name of the file. doecode.yml is appealing but so is metadata.yml. Good topic for discussion on our next core call.

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: vowelllDOE
Sent: Wednesday, March 1, 2017 11:51 AM
To: doecode/doecode
CC: Subscribed
Subjec

[2017-03-01 17:40] IanLee1521 commented on #92
Here are a couple of thoughts:

One issue with description being the content of README is that it might get kind of long and unwieldy, particularly when READMEs contain links, images, etc: e.g. https://github.com/llnl/spack

Is date meant to be the birth of the project, in which case the "first commit" would be valid. Or the date the project is made available?

I might develop a project internally

[2017-03-01 18:29] vowelllDOE commented on #92
@nensor can we support both "doecode.yml" and "metadata.yml"

[2017-03-01 19:43] tschaume commented on #92
@nensor I think it would be good to give the developer a few options of what to call the file. You guys can of course choose your preferred name when you spit it out from the automation.

@IanLee1521 I agree with your concerns regarding title/description, date, and organizations. However, any first guess at a reasonable value for the fields in the YAML file is infinitely better than none at all. I

[2017-03-01 22:03] nensor commented on #92
I believe we can support either one without much issue.  Also, if @tschaume and @IanLee1521 can check out another version of the YAML file I've made to support additional metadata information and structures over at https://github.com/doecode/dev-test-repo, you can see some of the additional entities being captured now.  Sponsoring organizations get their own sets of award numbers, contributors is

[2017-03-01 22:04] nensor commented on #92
Relates to discussion in issue #87 as well, just to note that.

[2017-03-03 16:02] stooksburysl opened #93 "Develop contract validation API"
Need to build API for contract validation. @andrewsmith4814

[2017-03-06 15:33] stooksburysl opened #94 "Add FWP number as optional identifier type"
Need to add FWP number as optional identifier type in metadata....same as B&R code is currently. @keknight @nensor @twelsch1

[2017-03-06 15:36] stooksburysl opened #95 "Have license drop down list to match what GitHub uses"
By the 4/1 deadline, have our license drop down list match what GitHub uses. (described here: https://github.com/blog/1530-choosing-an-open-source-license)

[2017-03-07 12:52] vowelllDOE commented on #95
@twelsch1 this needs to support a cardinality of 1-n and the front-end should as well.  I'm thinking on a UI element similar to Related Identifiers.

@nensor for the time being we can just mash these up, semicolon delimited when we submit to E-Link

[2017-03-08 16:26] vowelllDOE commented on #93
@andrewsmith4814 @twelsch1 latest?

[2017-03-08 16:27] vowelllDOE commented on #85
status?

[2017-03-08 16:28] vowelllDOE opened #96 "E-Link API endpoints for Sponsor and Research Org"
per @MarkMartinDOE E-Link needs to support REST apis for populating Sponsor and Research Org dropdowns in DOE Code

@nensor @twelsch1

[2017-03-08 17:53] jayjaybillings commented on #85
?This is going well. @nensor is looking at some design optimizations that I suggested. As of right now though, we are already running everything through realizations of the connector interface, I think.

We're trying to switch it over to use BeanManagers instead of static factories.

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybi

[2017-03-08 17:56] andrewsmith4814 commented on #93
The last thing I did was finish the change for authority api to allow the 3 following functions:

1.  Passing in a contract number and validating whether that number is available for use or is already taken
2.  Passing in a comma-delimited list of contract numbers, and getting back an array denoting which ones available, and an array denoting which ones aren't
3. Passing in a contract number and a

[2017-03-08 22:28] nensor commented on #94
Planning on making the current list of valid "types" for identifier:
DOI, URL, Email, BRCode, FWPNumber, and Other
presently.  Will that be okay @keknight @twelsch1 ?

[2017-03-09 12:42] vowelllDOE commented on #94
I’m not sure that DOI should be tracked as “identifiers” in this way.  DOI’s should use the “related identifier” structure.

From: Neal Ensor [mailto:notifications@github.com]
Sent: Wednesday, March 08, 2017 5:28 PM
To: doecode/doecode <doecode@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [doecode/doecode] Add FWP number as optional identifier type (#94)

Plannin

[2017-03-09 14:16] keknight commented on #94
The metadata structure I created maps all identifiers to "adms:identifiers" with a corresponding label, "adms:schemaAgency". I don't feel that "other" is a useful label, unless "other" requires the user to manually provide a label. "Related identifiers" is not part of the structure I created, though it is a field in the original metadata spreadsheet that maps to "adms:identifier".

[2017-03-13 13:56] stooksburysl opened #97 "Create new component to support multi-step, non-linear form"
For the April 1st deadline, need to create a new component to support multi-step and non-linear form.

[2017-03-13 13:58] stooksburysl opened #98 "Break out remaining fields into proper steps"
For April 1st deadline, need to break out remaining fields into proper steps.

Per @jayjaybillings suggestion:
* Create a new software record:
  - The question should come first. If it is open source with a repo, then we ask for the repo link. If it is either of the others, then we ask for the repo link or upload.
* Product Description & Other Information
  - Everything except the top four entries

[2017-03-13 13:59] stooksburysl opened #99 "Add tabs and refactor current DevelopersTable component"
For April 1st deadline, add tabs and refactor current DevelopersTable component to be more generic and support Developers/Contributors and Organizations

[2017-03-13 14:00] stooksburysl opened #100 "Create a Test/Production server"
For the April 1st deadline, create a Test/Production server

[2017-03-13 14:01] stooksburysl opened #101 "Implement Related IDs on Identifiers Step"
For the April 1st deadline, need to implement Related IDs on Identifiers step

[2017-03-13 14:02] stooksburysl opened #102 "Add Identifiers to Organizations"
For April 1st deadline, add Identifiers (B&R Code, Awards and FWP) to Organizations

[2017-03-13 14:04] stooksburysl opened #103 "Have validations working"
For the April 1st deadline, have validations working (this includes primary award, first and last name on developers, etc.)

[2017-03-13 14:05] stooksburysl opened #104 "Add support for DOI registration and view"
For the April 1st deadline, add support for DOI registration and view

[2017-03-13 14:05] vowelllDOE opened #105 "changes to Metadata schema"
there are possible changes needed to the metadata schema based on meetings Friday, specifically to organizations and funding identifiers. @jayjaybillings and @keknight need to discuss

[2017-03-13 14:06] stooksburysl opened #106 "Update E-Link connector to reflect changes to Identifiers"
For the April 1st deadline, update E-Link connector to reflect changes to Identifiers

[2017-03-13 14:13] stooksburysl opened #107 "Review metadata application profile and YAML file for fields that need to change"
Since the policy team suggested moving things around a bit for the wizard (moving FWP, B&R code, etc.), review the metadata application profile and YAML file to decide what exactly should change and discuss changes with @keknight.

[2017-03-13 14:59] jayjaybillings commented on #105
I think the only changes that need to happen for now are those I mentioned in my email yesterday afternoon, which @stooksburysl documented on #98 for @twelsch1. Let me know if you had something else in mind.

Also, this duplicates #107.

[2017-03-13 15:02] stooksburysl commented on #105
I can delete #107. @vowelllDOE and I were on the same track this morning.

[2017-03-13 15:05] jayjaybillings commented on #105
Let's just close it and label it as "duplicate."

[2017-03-13 15:05] stooksburysl commented on #107
This issue duplicated another created. #105.

[2017-03-13 15:05] #107 closed, assigned to jayjaybillings

[2017-04-10 13:52] stooksburysl opened #108 "Come up with failure scenarios & have restore testing"
When having discussions regarding architecture and file system backup, it was suggested to come up with failure scenarios and have restore testing closer to the Alpha release.

[2017-04-21 18:57] stooksburysl opened #109 "Find UI testing framework"
Need to find a UI testing framework.

[2017-04-21 18:59] stooksburysl opened #110 "Look into continuous integration"
Need to look into continuous integration. Travis?

[2017-04-21 19:01] stooksburysl opened #111 "Auto-populate 'License' and 'Contributing Organizations'"
Work on auto-populating 'License' & 'Contributing Organizations' fields.

[2017-04-21 19:03] stooksburysl opened #112 "Externalize strings"
Work on externalizing strings to easily change button labels, field labels, etc.

[2017-04-24 15:22] stooksburysl opened #113 "Regex B&R code and FWP number"
Look for specific patterns for B&R code and FWP number and work to Regex those.

[2017-04-24 17:36] twelsch1 commented on #103
Front End Validations are in place and adaptable to changes in the requirements. Below is a summary of how it works.

- A schema associates information (i.e is the field required, does it currently have a valid value, what panel is it in) which is then used for the logic below. Subtypes (i.e. Developers) also have schemas.

- Validation is performed using the [NPM Validator](https://www.npmjs.com/

[2017-04-24 17:37] twelsch1 commented on #103
I'm moving to close this issue unless there are any objections. Validation remains fluid but the design process and initial functionality is completed.

[2017-04-24 17:37] #103 closed, assigned to twelsch1, nensor

[2017-04-24 17:41] twelsch1 commented on #102
This has been completed using the React Select multi-select and create functionality. It allows the users to continue adding custom entries to a combo box until they are satisfied. Currently no validations are being performed. Validations are already possible for Award Numbers and Regex for B&R codes and FWP numbers is being discussed in ticket [#113](https://github.com/doecode/doecode/issues/113)

[2017-04-24 17:42] twelsch1 commented on #102
Moving to close since the time table on this ticket has passed and initial functionality is in place.  Further discussion should occur in #113  or a new ticket.

[2017-04-24 17:43] #102 closed, assigned to twelsch1, nensor

[2017-04-24 17:44] csherline commented on #113
I've spoken with both Kelly Dunlap, Joanna Martin, Lance and Neal concerning B&R codes. Joanna has completed mapping in the past, but is interested in why OSTI is interested in the intelligence of B&R codes. I have pleaded our case and I await information from her. She did say that labs are always aware of their B&R codes, but the grantees usually are not.

[2017-04-24 17:45] twelsch1 commented on #101
The skeleton of this functionality is in place. Do we yet have a final list of Related Identifier Types? The current build only supports URL and DOI. Validation has not yet been added to this feature beyond just requiring values, but the validator already supports URL and DOI validation so this will likely be added shortly. Leaving this ticket open for now.

[2017-04-24 17:49] vowelllDOE commented on #113
If there is s requirement to do so, all we want to do at this point is to validate that if a user enters a B&R Code it is in a valid format.  We are not doing validations on the intelligence or trying to tie those back to specific organizations.

From: Crystal Sherline [mailto:notifications@github.com]
Sent: Monday, April 24, 2017 1:45 PM
To: doecode/doecode <doecode@noreply.github.com>
Cc: Subscr

[2017-04-24 17:55] twelsch1 commented on #100
I have configured a deployment option within the package.json that deploys the client using webpack dev server to our test environment here at OSTI. The command added for this is npm run deploy-test. It will only work when deployed from a specific internal server.

In terms of a production server, this work will entail following [this guide](https://github.com/reactjs/react-router-tutorial/tree/ma

[2017-04-24 17:56] twelsch1 commented on #97
This was completed by using the Bootstrap accordion and plugging in our previous Steps as components in each panel of the accordion. Moving to close since this work is completed.

[2017-04-24 17:56] #97 closed, assigned to twelsch1, nensor

[2017-04-24 17:58] twelsch1 commented on #94
This has been added as a field on the front end called FWP Numbers that is attached to sponsoring organizations. It is mutated into a funding identifier with the B&R Code type when saved to the middle tier.

[2017-04-24 18:01] twelsch1 commented on #99
Tabs have been added using Bootstrap and the Table/Modal components have been refactored to not be contributor/developer specific. The components now are used to support the modal and table for Related Identifiers and Organizations as well. Data and content is passed in to determine what is displayed. Moving to close.

[2017-04-24 18:01] #99 closed, assigned to twelsch1, nensor

[2017-04-24 18:07] twelsch1 commented on #98
Changes are in place for this milestone.

The first question remains somewhat fluid. I believe the direction we are moving now is either a) ask them if the project has a publicly accessible repository and provide a drop down if it does not or b) simply provide them with the repo link field and file dropdown by default, explain that one is required, and allow them to choose. I'd like to hear Jay's

[2017-04-24 18:08] twelsch1 commented on #95
This has been completed using the React Select multi-select mode. Moving to close.

[2017-04-24 18:08] #95 closed, assigned to twelsch1, nensor

[2017-04-24 18:11] vowelllDOE commented on #98
if we need Jay's thoughts let's add @jayjaybillings

[2017-04-24 18:11] twelsch1 commented on #93
This has been integrated into DOE code and was demonstrated at the April 21st policy meeting. I will discuss with Andrew and Neal about moving this to production if it has not yet been deployed.

[2017-04-24 18:20] twelsch1 commented on #78
We have split these into two separate projects, https://github.com/doecode/client and https://github.com/doecode/server. Moving to close.

[2017-04-24 18:20] #78 closed, assigned to twelsch1, nensor

[2017-04-26 13:36] jayjaybillings commented on #98
I think the first question/field should be a very simple "either-or" where we let them add a repo link or upload a zip/tar file. Something like this (but far sexier looking!):
[code]

I think that is sufficient for the alpha and until we figure out access limitations.

[2017-04-26 13:38] jayjaybillings commented on #101
No, we don't have a final list yet.

[2017-04-26 13:41] vowelllDOE commented on #101
DOI and URL are more than sufficient for the Alpha IMO

[2017-04-28 10:19] rvt commented on #16
Hey Guys,
I realise I am not related to this project, but did you ever made a decision on this particular subject?

Kind Regard,
Ries

[2017-04-28 13:14] jayjaybillings commented on #16
Thanks for asking @rvt! We did. We went with ReactJS after evaluating Vaadin, Scout, AngularJS and maybe another framework or two. @twelsch1 is the guy to ask about the awesomeness of React, but from what I have seen it is a seriously impressive framework!

[2017-04-28 13:15] jayjaybillings commented on #16
I'm going to close this ticket since we're done with it, but comments are still welcome.

[2017-04-28 13:15] #16 closed, assigned to darelf, nelsonjc-osti, nensor

[2017-04-28 13:17] jayjaybillings commented on #81
I don't remember where we landed on this. @twelsch1 and @nensor did you get XCAMS accounts from ORNL?

[2017-04-28 13:17] #15 closed

[2017-04-28 13:18] jayjaybillings commented on #15
I think this happened...

[2017-04-28 13:22] jayjaybillings commented on #26
We conducted an extensive internal review of Zenodo in response to this ticket and questions from community. The results of that review were reported privately to @MarkMartinDOE by @twelsch1 and @darelf. While we found many features of Zenodo that were impressive, it was not clear that it could meet the additional goals that we have with DOE Code. Furthermore, many of the impressive features of Ze

[2017-04-28 13:22] #26 closed, assigned to darelf

[2017-04-28 13:23] jayjaybillings commented on #17
The final blog article was published here: https://www.osti.gov/ostiblog/osti-developing-open-source-social-coding-platform-doe-scientific-software

[2017-04-28 13:23] #17 closed, assigned to jayjaybillings

[2017-04-28 13:24] jayjaybillings commented on #18
Wireframes were assembled and added to the repo here:
https://github.com/doecode/doecode/tree/master/docs/osti-technical/wireframes

[2017-04-28 13:24] #18 closed, assigned to jayjaybillings, nelsonjc-osti

[2017-04-28 13:24] jayjaybillings commented on #18
@andrewsmith4814 did most of the wireframe work.

[2017-04-28 13:25] jayjaybillings commented on #24
This was completed in the 0.1 release of our new metadata schema, which is available here: https://github.com/doecode/doecode/tree/master/metadata-schema

[2017-04-28 13:25] #24 closed, assigned to jayjaybillings, johnsonlva, vowelllDOE, augustuscl, stooksburysl

[2017-04-28 13:32] rvt commented on #16
Very interesting and un-expected! Thanks for the response :)

[2017-04-28 13:39] jayjaybillings commented on #16
You're very welcome! Do you have any experience or words of wisdom to share related to web frameworks?

[2017-04-28 14:52] rvt commented on #16
I am torn in between Eclipse Scout and Angular 2 + some UI framework like Angular Material.
I very much like the idea of not writing javascript/typescript as it looks like to me double work to me.
With angular you have to find your UI framework, wire them up. You have to write your own factories for doing your REST request and your controllers/components (there are some generators though).
With Sc

[2017-04-28 15:03] jayjaybillings commented on #16
I personally believe that Scout is lightyears ahead of other technologies - but then again I do a lot of work in the Eclipse community! :-) Scout just didn't meet our needs for DOE Code for a variety of reasons.

I would be happy to talk more about Scout and some plans that I have for it if you want to email me at jayjaybillings <at> gmail dot com.

[2017-05-08 14:39] stooksburysl opened #114 "Explore software categorization functionality"
As a Beta requirement, explore software categorization functionality.

[2017-05-08 19:06] stooksburysl opened #115 "Submission Form - Require submission of landing page URL"
We need to require the submission of the landing page URL that the lab/grantee will make the software available at.

[2017-05-10 15:37] stooksburysl opened #117 "Submission Form - Open Source PA requires a repository link"
Make Open Source PA require a repository link.

[2017-05-10 15:38] stooksburysl opened #118 "Submission Form - Open Source NPA now requires the repository link with an optional file upload"
Make Open Source NPA to require the repository link with an optional file upload.

[2017-05-10 15:39] stooksburysl opened #119 "Submission Form - Closed Source now requires a landing page URL and a file upload"
Make Closed Source to require a landing page URL and a file upload.

[2017-05-10 19:03] stooksburysl opened #120 "Security - Investigate authenticating users using OSTI credentials"
We need to investigate authenticating users using OSTI credentials.

[2017-05-10 19:04] stooksburysl opened #121 "Security - Investigate authenticating users using GitHub credentials"
We need to investigate authenticating users using GitHub credentials.

[2017-05-11 13:02] twelsch1 commented on #106
This change has been made, closing.

[2017-05-11 13:02] #106 closed, assigned to twelsch1, nensor

[2017-05-11 13:03] twelsch1 commented on #104
This change has been made, closing.

[2017-05-11 13:03] #104 closed, assigned to twelsch1, nensor

[2017-05-11 13:03] twelsch1 commented on #101
Closing this for now, we can reopen if we want to add more types in the beta or beyond.

[2017-05-11 13:03] #101 closed, assigned to twelsch1, nensor

[2017-05-11 13:05] twelsch1 commented on #98
I think we can close this ticket for now. The look and feel of the form is still fluid but we have broken things out into modular components which should make it easy to make change moving forward.

[2017-05-11 13:05] #98 closed, assigned to twelsch1, nensor

[2017-05-11 13:05] twelsch1 commented on #94
As noted, this has been added. Closing for now.

[2017-05-11 13:05] #94 closed, assigned to twelsch1, keknight, nensor

[2017-05-11 13:07] twelsch1 commented on #90
This ticket's a bit out of date, since the build process has changed somewhat. It is currently documented in read me files for the projects, though there will be changes as development continues and we add features like authentication and start making things production ready. Closing for now.

[2017-05-11 13:07] #90 closed, assigned to twelsch1, nensor

[2017-05-11 13:08] jayjaybillings commented on #90
Well, we should also point out that this works just fine now and is documented in the readme for doecode/server.?

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Thomas Welsch <notifications@github.com>
Sent: Thursday, May 11, 2017 9:07 AM
To: doecode/doecode
Cc: Billings, Jay Jay; Aut

[2017-05-11 13:08] twelsch1 commented on #93
Andrew knocked this one out. We may want to open up a new issue related to making this publicly accessible through E-Link. That dovetails with an active ticket on the E-Link Jira Board. Closing this specific ticket for now.

[2017-05-11 13:08] #93 closed, assigned to andrewsmith4814

[2017-05-11 13:09] twelsch1 commented on #89
As of today, the software is capable of registering DOIs. Going to close this down for now.

[2017-05-11 13:09] #89 closed, assigned to twelsch1, nensor, vowelllDOE

[2017-05-11 13:09] vowelllDOE opened #122 "investigate auto-population of Description/Abstract from repo README file"
if this investigation proves useful, it would be a seperate button near the Description/Abstract field that when clicked would autopopulate the field using the repo links README file.

[2017-05-11 13:10] vowelllDOE commented on #113
do we have a path forward with this?  are we dropping it?

[2017-05-11 13:11] jayjaybillings commented on #93
Yes, I think we do. Will you create a new one please??

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Thomas Welsch <notifications@github.com>
Sent: Thursday, May 11, 2017 9:08 AM
To: doecode/doecode
Cc: Subscribed
Subject: Re: [doecode/doecode] Develop contract validation API (#93)

[2017-05-11 13:15] vowelllDOE opened #123 "Submission Form - locking DOE Code records after a single submit in Alpha"
For the Alpha @MarkMartinDOE believes that after a record is submitted to E-Link from DOE Code that the DOE Code record should be locked so no editing can occur.  Any edits would be done in E-Link and back-filled to DOE Code.

[2017-05-12 18:41] vowelllDOE opened #124 "investigate role for "software point of contact""
investigate possibly having a role in DOE Code for a "software point of contact" to would be able to view and possibly even finish records in DOE Code based on their lab and the lab of the submitting user

[2017-05-15 15:41] awatsongroks opened #125 "Figure out if we need to use GitLab at the dark archive level"
We need to figure out if using GitLab at the dark archive level makes sense. Look at the advantages and disadvantages of using it.

[2017-05-15 15:47] stooksburysl opened #126 "Try scenarios with Git command-line tool"
When having discussions about dark archiving and different questions/problems that could come up (submitting everything in zip file, looking for tags for version 1.0, 1.2, etc.), it was suggested to sit down and try some scenarios with Git-line tool and see what can be done on the backend.

[2017-05-16 23:58] nensor commented on #125
GitLab API seamlessly imports projects accessible via git or svn.  I plan to incorporate project archiving via these at least initially.  I have successfully imported a few github and bitbucket repos to our development GitLab installation, as an "osti_archive" user locally.  @jayjaybillings suggested we also either post these as "public" (on the GitLab install) or at least shared with a specific u

[2017-05-17 12:37] vowelllDOE opened #127 "Submission Form - populate Contributor Type lists"
please update this drop down to include all the values found in E-Link

[2017-05-18 15:04] vowelllDOE opened #128 "Submission Form - remove collection of ORCID and Email Address from Organizations fields"
please remove the collection of ORCID and Email Address from the following:

Research Organizations
Sponsoring Organizations
Contributing Organizations

I don't know if our schemas have to change for that or not

[2017-05-18 15:38] vowelllDOE opened #129 "Submission Form - change “Recipient Information” to “Contact Information”"

[2017-05-22 13:35] vowelllDOE opened #130 "Submission Form - support infix for DOI registration"

[2017-05-23 14:56] vowelllDOE opened #131 "Submission Form - add front-end validation for B&R Code structure"
must be two alpha characters followed by 7 numerical

[2017-05-30 15:40] vowelllDOE opened #132 "Add a yaml file validation service"
this is a simple service that validates a supplied YAML file for completeness.  to be used in continuous integration engine.

requested by Patrick Huck.

[2017-05-31 19:34] vowelllDOE opened #133 "Submission Form - remove collection of Related Software"
we no longer want to collect this field

[2017-06-02 15:57] vowelllDOE opened #134 "Submission Form - change the 'none' license option to 'Proprietary""
there should be on option for "None", change that to "Proprietary"

[2017-06-02 16:09] vowelllDOE opened #135 "acquisition and dissemination APIs"
Need an available, well documented, forward facing API for both acquisition and dissemination portions.  Should be XML and/or JSON based.

Let's discuss requirements when needed.

[2017-06-02 16:24] vowelllDOE opened #136 "document acquisition API"
full blown documentation.  Please see the current 241.1 API documentation for what is needed.  Please also see https://www.osti.gov/pages/api/v1/docs for how Josh is documenting the output APIs, that could also be used as a model.   Other ideas welcome.

[2017-06-02 17:38] jayjaybillings commented on #136
That pages documentation looks amazing!

We should also make sure that we are publishing Javadoc information for the server and archiver. This can be done with the Maven Javadoc plugin. I think it is also possible to set it up so that it uses the same style/theme as what Josh did.

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybill

[2017-06-02 17:50] jayjaybillings commented on #136
There is a way to get Maven to build documentation into the server when it deploys. I think this would be ideal so that when we build the server or archiver they automatically publish their API documentation. I think the simple way to do this is to have the Javadoc plugin dump the documentation into a static/web directory or something and have Maven package that in the Jar.

Jay Jay Billings
Team

[2017-06-05 11:25] vowelllDOE opened #137 "Submission Form - add Help Text to Submission Form"
Please implement this as a help page and as we do in E-Link with the question marks in the form.  If there is a built in Node way of doing this please let’s discuss the implementation.

[2017-06-07 19:26] vowelllDOE commented on #113
Here is the final requirement for this:

1) we will NOT regex on FWP Number
2) we can add regex for B&R code.  A valid B&R Code is two alpha characters followed by 7 numerical

[2017-06-07 19:35] #113 closed, assigned to csherline

[2017-06-07 19:48] vowelllDOE opened #138 "DOI Registration in DOE Code"
Previously DOI Registration was done using E-Link.  This has been changed to be done in DOE Code.

[2017-06-07 19:48] #138 closed, assigned to twelsch1, nensor

[2017-06-07 20:02] vowelllDOE opened #139 "Submission Form - Change "Date of Issuance" to "Release Date""
change the tag for "Date of Issuance" to "Release Date"

[2017-06-08 15:35] vowelllDOE opened #140 "Submission Form - Default Country to United States"
on the submission form set the default value in Country to United States

[2017-06-08 15:36] vowelllDOE commented on #96
this list now includes the following:

1.	Originating Research Organization
2.	Sponsoring Organization
3.	Author Affiliation
4.	Country
5.	Language

[2017-06-08 15:39] vowelllDOE commented on #128
this is done

[2017-06-08 15:39] #128 closed, assigned to twelsch1, keknight

[2017-06-21 14:16] twelsch1 commented on #129
This change has been made. Moving to close.

[2017-06-21 14:16] #129 closed, assigned to twelsch1

[2017-06-22 20:20] twelsch1 commented on #117
This change has been made in prep for upcoming demo. Moving to close.

[2017-06-22 20:20] #117 closed, assigned to twelsch1, nensor

[2017-06-22 20:20] twelsch1 commented on #118
Open Source NPA actually requires a _landing page_, this change has been made in prep for upcoming demo. Moving to close.

[2017-06-22 20:20] #118 closed, assigned to twelsch1, nensor

[2017-06-22 20:21] twelsch1 commented on #119
This change has been made for upcoming demo, moving to close.

[2017-06-22 20:21] #119 closed, assigned to twelsch1, nensor

[2017-06-22 20:24] twelsch1 commented on #123
After discussion with Mark and Lance, we have decided for now to scrap this policy. For now, the user can submit to E-Link an unlimited number of times. At least for the alpha, this will make updates to the record and the DOE Code record will be the authoritative record. Moving to close.

[2017-06-22 20:24] #123 closed, assigned to jayjaybillings, twelsch1, nensor

[2017-06-22 20:25] twelsch1 commented on #130
This feature has been added for the upcoming demo. Moving to close.

[2017-06-22 20:25] #130 closed, assigned to twelsch1, nensor

[2017-06-22 20:32] twelsch1 commented on #131
This feature has been added for the upcoming demo. Moving to close.

[2017-06-22 20:32] #131 closed, assigned to twelsch1, vowelllDOE

[2017-06-23 03:38] IanLee1521 commented on #138
@vowelllDOE, if I was trying to follow along and to see where / how this was being done, where would I be able to find that information? Is that in this repository somewhere that I'm just not seeing?

[2017-06-23 03:38] IanLee1521 commented on #131
@twelsch1 - Where might I find this feature having been added? Is it in this repo someplace that I"m not seeing?

[2017-06-23 11:32] vowelllDOE commented on #131
@IanLee1521 @twelsch1 it may not have been merged into Github yet

[2017-06-23 11:32] vowelllDOE commented on #138
@IanLee1521 @twelsch1 it may not have been merged into Github yet

[2017-06-23 11:33] #115 closed, assigned to twelsch1, nensor

[2017-06-23 13:12] twelsch1 commented on #131
This is in master in the Client repository. The classes handling the validation are Field.jsx (which contains the visual elements and the validation events) and Validation.js (where the actual validation happens).

[2017-06-23 13:35] jayjaybillings commented on #138
It is probably in the doecode-server repo.

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: vowelllDOE <notifications@github.com>
Sent: Friday, June 23, 2017 7:32 AM
To: doecode/doecode
Cc: Subscribed
Subject: Re: [doecode/doecode] DOI Registration in DOE Code (#138)

@IanLee1521<https:

[2017-06-26 12:25] vowelllDOE opened #141 "Submission Form - allowable archive formats"
need to define exactly which archive formats we support for source code uploads

@jayjaybillings @twelsch1 @nensor

[2017-06-26 12:26] vowelllDOE opened #142 "User Profile - API Key Generation"
on the user profile page we need to add functionality for them to on-demand generate an API key

[2017-06-26 13:46] jayjaybillings commented on #141
?zip, tar, tar.gz and tar.bz2 are top of my list. Not sure about raw jar and war files.

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: vowelllDOE <notifications@github.com>
Sent: Monday, June 26, 2017 8:26 AM
To: doecode/doecode
Cc: Billings, Jay Jay; Mention
Subject: Re: [doecode/doe

[2017-06-26 13:55] #140 closed, assigned to twelsch1

[2017-06-26 13:56] #139 closed, assigned to twelsch1, keknight

[2017-06-26 13:56] #134 closed, assigned to jayjaybillings, twelsch1

[2017-06-26 13:58] vowelllDOE commented on #133
this is done on the front end and middle tier.  metadata needs to be updated I'm sure.

@jayjaybillings @keknight

[2017-06-29 19:41] IanLee1521 opened #143 "Update org url"
@jayjaybillings  -- Looks like the URL for the DOECode org is ``http://``. This should really be ``https://`` instead.

[2017-06-29 19:45] vowelllDOE commented on #143
Not sure I know what URL you’re referring to.

From: Ian Lee [mailto:notifications@github.com]
Sent: Thursday, June 29, 2017 3:42 PM
To: doecode/doecode <doecode@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [doecode/doecode] Update org url (#143)

@jayjaybillings<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jayjaybillings&d=DwMCaQ&c=OVj76tllZE_4gBE

[2017-06-29 22:14] IanLee1521 opened #144 "nensor commit attribution"
@nensor -- It looks like you don't have your email address (ensorn@osti.gov) associated with your GitHub account, so your commits to the repos aren't getting associated to your account: https://github.com/doecode/server/commits/master

You can update your email addresses associated with your account at: https://github.com/settings/emails

[2017-06-30 01:55] IanLee1521 commented on #143
That would be the one at the top of: https://github.com/doecode

<img width="276" alt="screen shot 2017-06-29 at 18 54 58" src="https://user-images.githubusercontent.com/828452/27717816-7179cce2-5cfc-11e7-8ac7-552584b0f041.png">

[2017-06-30 14:41] jayjaybillings commented on #143
Fixed.

[2017-06-30 14:41] #143 closed, assigned to jayjaybillings

[2017-07-05 14:57] nensor commented on #144
Added my OSTI address and verified it in the settings.

[2017-07-05 14:57] #144 closed, assigned to nensor

[2017-07-05 15:12] IanLee1521 commented on #144
Thanks @nensor!

[2017-07-25 16:24] vowelllDOE commented on #136
@nensor status?

[2017-07-27 03:10] nensor commented on #136
See https://github.com/doecode/server/blob/master/src/main/java/gov/osti/services/DOECode%20API%20Services.md

This is the API docs so far in markdown form. It's available from the server endpoint for metadata, but need to he
Et with Thomas to see about access through the front end.

_Sent from my Nvidia SHIELD Tablet K1 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.

[2017-08-01 15:10] vowelllDOE opened #145 "Submission Form - Remove auto fix from DOI Registration"
currently we are putting "DOE Code" as an infix, please remove this

[2017-08-01 15:24] vowelllDOE opened #146 "Archiving - external GitLab"
need to work to get an externally available GitLab stood up for hosting code.  Just like we have internally now.

[2017-08-01 16:07] vowelllDOE opened #147 "Submission Form - URL for proprietary license"
•	If “proprietary” is chosen from the list of licenses we need to require the user the user to supply a URL
•	Help needs to indicate this could be the same as the landing page/repository URL

[2017-08-01 17:14] davisl-doe-osti commented on #147
Placeholder text has been added to draft Help.

[2017-08-01 17:17] vowelllDOE commented on #147
@davisl-doe-osti great! can we get the latest version?

[2017-08-01 18:58] vowelllDOE opened #148 "Add YAML autopopulate instructions"
this should probably go in the submission form help and as an eventual FAQ.  I'm working on the text now.

[2017-08-01 19:57] vowelllDOE opened #149 "Autopopulate - support "doecode.yml" as a file name for YAML population"
currently we are supporting "metadata.yml" in the project root main folder.  Need to also support "doecode.yml"

[2017-08-01 21:10] nensor commented on #149
Putting in tests and samples for this now, see doecode/archiver for an example "doecode.yml" mapping file.  Ultimately will try "metadata.yml" first, then "doecode.yml", then fall back to API scraping for information if both are not present.

[2017-08-01 21:13] nensor commented on #149
Successfully tested this fetching local autopopulate from https://github.com/doecode/archiver, which has a "doecode.yml" file in its project root.  Values taken from there from the metadata services call.  Commit made to doecode/server.

[2017-08-01 21:13] #149 closed, assigned to nensor

[2017-08-02 11:28] vowelllDOE commented on #148
something along these lines, but with English description instead of bullets:

•	File must be named "metadata.yml" or "doecode.yml"
•	File must be place in the project's root main directory

We should also point them to a sample YAML file somewhere on the site.

[2017-08-02 19:59] vowelllDOE opened #152 "Account Registration - 404 on confirmation"
when attempting to confirm a new account currently receiving a 404 on Dev

[2017-08-02 20:10] twelsch1 commented on #152
You don’t have to confirm your user yet. We have temporarily removed that for testing reasons. It’s still sending the email, with the incorrect link (that will need to be a variable in the init servlet).

We'll be adding this in later this week.

[2017-08-04 01:31] nensor commented on #152
This should be in the latest server configuration, see the readme there for info. It's a parameter now along with email host and address. Testing worked on local installs.

_Sent from my Nvidia SHIELD Tablet K1 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 17:16] #96 closed, assigned to twelsch1, nensor, andrewsmith4814

[2017-08-04 17:17] #32 closed, assigned to andrewsmith4814

[2017-08-04 17:18] #33 closed, assigned to jayjaybillings, stooksburysl

[2017-08-04 17:19] #65 closed, assigned to nobody

[2017-08-04 17:19] vowelllDOE commented on #152
completed

[2017-08-04 17:19] #152 closed, assigned to twelsch1

[2017-08-04 17:40] #145 closed, assigned to twelsch1, nensor

[2017-08-04 17:40] vowelllDOE commented on #141
@nensor @twelsch1 has this been addressed in code yet?

[2017-08-09 16:38] vowelllDOE opened #153 "BETA - Support SVN and CVS repositories"
for ingest and archival purposes we need to support SVN and CVS repositories in Beta

[2017-08-30 14:12] IanLee1521 opened #154 "Update E-Link submission instructions"
Something I was just discussing with @stooksburysl via email:

[2017-09-25 17:58] #148 closed, assigned to johnsonlva, vowelllDOE, davisl-doe-osti

[2017-09-25 17:58] #147 closed, assigned to twelsch1, andrewsmith4814

[2017-09-25 17:58] #142 closed, assigned to twelsch1

[2017-09-25 17:58] #137 closed, assigned to twelsch1

[2017-09-25 17:58] #133 closed, assigned to twelsch1, keknight

[2017-09-25 17:59] #100 closed, assigned to twelsch1, nensor

[2017-09-25 17:59] #83 closed, assigned to jayjaybillings, vowelllDOE

[2017-09-25 18:00] #141 closed, assigned to jayjaybillings, twelsch1, nensor

[2017-09-25 18:00] #127 closed, assigned to twelsch1

[2017-09-25 18:00] #91 closed, assigned to twelsch1, nensor

[2017-09-25 18:00] #135 closed, assigned to twelsch1, nensor

[2017-09-25 18:00] #136 closed, assigned to nensor

[2017-09-25 18:01] #43 closed, assigned to jayjaybillings

[2017-09-25 18:01] #1 closed, assigned to jayjaybillings

[2017-09-25 18:01] #19 closed, assigned to jayjaybillings

[2017-09-25 18:01] #66 closed, assigned to andrewsmith4814

[2017-09-25 18:02] #39 closed, assigned to andrewsmith4814

[2017-09-25 18:02] #69 closed, assigned to nobody

[2017-09-25 18:02] jayjaybillings commented on #83
?I don't think we've done this one. This is a question for the beta, so I don't think it should be closed at the alpha.

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Lance Vowell <notifications@github.com>
Sent: Monday, September 25, 2017 1:59 PM
To: doecode/doecode
Cc: Billings, Jay

[2017-09-25 18:02] #31 closed, assigned to nobody

[2017-09-25 18:02] #71 closed, assigned to nobody

[2017-09-25 18:03] #49 closed, assigned to andrewsmith4814

[2017-09-25 18:03] jayjaybillings commented on #28
?Again, we shouldn't close a task for beta in the alpha. We should reassign it to a different milestone.

Jay

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Lance Vowell <notifications@github.com>
Sent: Monday, September 25, 2017 2:02 PM
To: doecode/doecode
Cc: Subscribed
Subject: Re:

[2017-09-25 18:03] #92 closed, assigned to nobody

[2017-09-25 18:04] #47 closed, assigned to darelf, jayjaybillings, vowelllDOE

[2017-09-25 18:04] #34 closed, assigned to nobody

[2017-09-25 18:04] #60 closed, assigned to nobody

[2017-09-26 12:32] stooksburysl opened #155 "Investigate Government Wide Reuse metadata field"
Need to investigate the 'Government Wide Reuse' metadata field in post-Alpha.

[2017-09-26 13:10] stooksburysl opened #156 "Add in domain model to the metadata application profile"
Need to add in a domain model to the metadata application profile to include a picture showing the relationship between our metadata entities within the document.

[2017-11-03 15:51] jayjaybillings opened #160 "Need repo "alpha" tags for all DOE Code repos"
Now that the alpha is live, we need to create repo tags and GitHub alpha releases for each repo, including this one (doecode), client, server, archiver, batch, and software-metadata. Not only will this give us long-lived stable repo tags for our production commits, but it will also give us tags to test against for new functionality in the beta.

Here's an example: https://github.com/eclipse/ice/re

[2017-11-03 16:26] IanLee1521 opened #161 "GitLab Access Requests"
I had mentioned this in an email to @vowelllDOE + @MarkMartinDOE + @davisl-doe-osti , but recording here for posterity:

As a suggestion, it might be good to have a web form collect the information needed to process a gitlab.osti.gov access request. I'm picturing a simple web form that a user would input the necessary information into, and that would send an email to the appropriate email address

[2017-11-03 17:02] jayjaybillings commented on #161
?I agree. I put the request in before the Alpha went live - I'm not sure where the ticket went. This is about 1hr of work that will make things a lot smoother IMHO.

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Ian Lee <notifications@github.com>
Sent: Friday, November 03, 2017 12:26

[2017-11-06 15:17] #146 closed, assigned to nensor

[2017-11-06 15:17] #125 closed, assigned to jayjaybillings, nensor

[2017-11-06 15:17] #86 closed, assigned to keknight

[2017-11-06 15:18] #87 closed, assigned to nensor

[2017-11-06 15:18] #76 closed, assigned to jayjaybillings, vowelllDOE

[2017-11-06 15:18] #68 closed, assigned to nobody

[2017-11-06 15:19] #40 closed, assigned to johnsonlva

[2017-11-06 15:19] #46 closed, assigned to darelf, jayjaybillings, vowelllDOE

[2017-11-06 15:19] #45 closed, assigned to darelf, jayjaybillings, vowelllDOE

[2017-11-06 15:20] #44 closed, assigned to jayjaybillings, vowelllDOE, stooksburysl

[2017-11-06 15:20] #48 closed, assigned to darelf, jayjaybillings, vowelllDOE

[2017-11-06 15:21] #85 closed, assigned to nensor

[2017-11-06 15:21] #35 closed, assigned to nobody

[2017-11-06 15:22] #36 closed, assigned to nobody

[2017-11-06 15:23] vowelllDOE commented on #161
Thank you both.  This is in our Beta development task list, it just didn't make the Alpha.

@MarkMartinDOE

[2017-11-15 14:14] jayjaybillings opened #162 "Submission hangs when developer last name is missing"
![screenshot from 2017-11-15 09-13-17](https://user-images.githubusercontent.com/6378849/32840389-7a18e8e6-c9e5-11e7-9479-fb8228f8ed5d.png)
Submitting a new project with a developer whose last name is not set causes submission to hang. See attached screenshot. This should:
1) Not hang
2) Show which developer's last name is missing

[2017-11-15 14:17] vowelllDOE commented on #162
This issue has been identified previously and we have an internal ticket tracking it.  Scheduled to be resolved in Beta.

[2017-11-15 14:21] jayjaybillings commented on #162
This may be an issue for us to discuss with @MarkMartinDOE, but there are some bugs like this that we can't wait a year to fix. Is there a plan for fixing bugs in dev and porting them the alpha branch?

[2017-11-15 14:22] vowelllDOE commented on #162
We will have many deployments throughout the next year to resolve issues such as this.  Beta is a period, not a single deployment.

[2017-11-15 14:23] jayjaybillings commented on #162
+1.

[2017-11-15 14:27] jayjaybillings opened #163 "Developers section erroneously lists complete information when last names are missing"
Somewhat related to #162, the Developers section should not say it is complete when required information is missing for developers. See screenshot: SmithRWORNL is missing his last name, but the section says all required information is provided.
![screenshot from 2017-11-15 09-25-40](https://user-images.githubusercontent.com/6378849/32840950-2473fd66-c9e7-11e7-9841-2c955ce73a0d.png)

[2017-11-15 14:28] vowelllDOE commented on #163
noted

[2018-01-26 16:21] SmithRWORNL opened #164 "Archiver, Client, and Server api urls"
I'm trying to run the Archiver, Client, and Server inside tomcat, but I can't find documentation on how to access the apis. I'm able to at least connect access the pages, but everything that is returned is blank. Where can I find the documentation on what urls are valid?

[2018-01-26 18:03] jayjaybillings commented on #164
@SmithRWORNL I believe the URL for the client is just /doecode. I don't know if the archiver has a handy URL for testing.

@nensor Can you remind me what the api documentation URL is on the server? Is it /doecodeapi?

[2018-01-26 18:17] SledKnight commented on #164
Hello, are you trying to find the Server API docs?  If so, they should be in the doecode/server repo.  Or, if you have the project running at "{yourhost}/doecode" and the server is also running then you should be able to find the server API docs at: "{yourhost}/doecodeapi/services"

If I have misunderstood your need, please let me know.

[2018-01-26 18:20] SledKnight commented on #164
If you are looking for Archiver API docs, there are currently no formal ones.  From Neal:

"...the main endpoints are

GET /archiver/project/codeid/{value}

Get the status of an existing project(s) by its mapped DOE CODE CODE_ID.

GET /archiver/project/{value}

Get the status of the single project by its unique PROJECT_ID.

GET /archiver/project/status/{status}

Get an array of all projects by a g

[2018-01-26 18:22] jayjaybillings commented on #164
@SledKnight Yes, we would like to find the api server docs so that we can get confirmation that the server is working. @SmithRWORNL will give that a go.

[2018-01-26 18:23] SledKnight commented on #164
Okay, yeah, that should be:  {yourhost}/doecodeapi/services

[2018-01-26 18:56] SmithRWORNL commented on #164
@SledKnight {host}/doecodeapi/services is giving me a blank page, for both the server and the client.

I'm launching both with "mvn tomcat:run" on the command line. Perhaps I'm not setting up the client to find the server correctly? I put the following  as the Maven profile for the client pom:

`     <profiles>

        <profile>

            <id>profile-name</id>

            <activation>

[2018-01-26 19:14] nensor commented on #164
I believe if you were to go to (assuming you have your tomcat server-side running on 8181)

http://localhost:8181/doecodeapi/services

you should see the API docs homepage; similarly, going to /doecodeapi/services/metadata should get the metadata-centric API, etc.  I can get those up similarly in production from
https://www.osti.gov/doecodeapi/services so that should be the base endpoint.

[2018-01-26 19:19] SmithRWORNL commented on #164
Yes, that's what I tried. However, http://localhost:8181/doecodeapi/services is just giving me a blank page. I did view-source to double check if I'm getting a response that isn't displaying, but there's nothing there either. (For comparison, http://localhost:8189/doecodeapi/services gives an unable to connect error, so I'm are least talking to the tomcat server.)

[2018-01-28 16:27] nensor commented on #164
This appears to be tomcat-related; if I run the project locally via jetty, it works fine.  It appears for me when I run tomcat via mvn tomcat:run, all my requests return 400-Bad Request status, regardless of the URL.

We are, however, running most of our testing in tomcat containers, and it works there, so must be some configuration error.  I will continue to investigate Monday and let you know.

[2018-01-30 16:01] nensor commented on #164
Update on this:  I have been able to run this locally using "tomcat7:run" target instead of the generic "tomcat:run".  This gets me the application server (doecodeapi) responding on 8080, and I was able to view the API documentation and interact with it via localhost:8080 HTTP calls.

Please let me know if that might work for you.

[2018-01-31 21:49] SmithRWORNL commented on #164
@nensor I ran into some problems with the maven build using tomcat7, but once I added some missing dependencies to the pom I was able to get it up and working.

[2018-01-31 21:49] SmithRWORNL opened #165 "Configuring client profile"
I'm attempting to run the client alongside the server on the same machine. This seems to require setting up the profile first, so that the client can access the server, but I'm running into an error when trying redeploy with the new profile. My profile, specified in my pom, is

`        <profile>
            <id>profile-name</id>
            <activation>
            	<activeByDefault>true</activeB

[2018-02-01 15:50] vowelllDOE commented on #161
a new request form has been added https://www.osti.gov/doecode/gitlab-signup

[2018-02-01 15:54] vowelllDOE commented on #163
this issue was resolved in a deployment in January 2018

[2018-02-01 15:54] #163 closed, assigned to nobody

[2018-02-01 15:54] vowelllDOE commented on #162
this issue was resolved in a deployment in January 2018

[2018-02-01 15:54] #162 closed, assigned to nobody

[2018-02-02 15:04] jayjaybillings commented on #165
@nelsonjc-osti and @andrewsmith4814 How do you setup your pom properties? I think @nelsonjc-osti uses the settings.xml file maybe?

[2018-02-02 15:55] andrewsmith4814 commented on #165
DOE CODE client Utilizes a settings.xml file, in the developer's .m2 directory.
I've also noticed that your configuration is a little bit out of date, if you've pulled down the latest instance of the DOE CODE client. In the next deployment, I'll try to post better descriptions for the purpose of each field. For now, I'll comment an example configuration.

[2018-02-02 16:03] andrewsmith4814 commented on #165
This is assuming you have pulled down the latest instance of the master branch as of 02/02/2018
` <environment_url>URL for the tomcat that you are deploying to</environment_url>
                <apiURL>URL to the instance of the DOE CODE API that you're using</apiURL>
                <apiBackendURL>URL to the instance of the DOECODE API that you're using*</apiBackendURL>
                <siteURL>U

[2018-04-19 22:47] sarats opened #166 "Missing commas in BibTeX entries"
For instance, the BibTeX entry for https://www.osti.gov/doecode/biblio/10206#bibtex needed commas between attributes for proper citation in a LaTeX document.

[code]

[2018-04-19 22:59] sarats opened #167 "Feature request: Add howpublished attribute to BibTeX"
I would suggest adding a howpublished attribute that indicates [Computer Software] for proper citation.
[code]

Intended result in LaTeX generated document:
E3SM Project. Energy Exascale Earth System Model (E3SM). [Computer Software]
https://dx.doi.org/10.11578/E3SM/dc.20180418.36, 4 2018.

[2018-04-19 23:17] sarats opened #168 "BibTex month format suggestion"
Generated bib entry contains number. Changing it to short month code generates better citation in LaTeX document.
[code]
![image](https://user-images.githubusercontent.com/5324834/39022986-1f6f99da-4406-11e8-89ae-d45fc7389be4.png)

It shows up better than  '4 2018'  in the document.

[2018-04-19 23:31] sarats opened #169 "BibTex URL"
Use doi.org link in url attribute to ensure archival instead of Github etc.

[code]

[2018-05-23 13:42] vowelllDOE commented on #169
Thank you for the feedback, this should now be completed.

[2018-05-23 13:43] vowelllDOE commented on #168
Thank you for the feedback, this should now be completed.

[2018-05-23 13:44] vowelllDOE commented on #166
Thank you for the feedback, this should now be completed.

[2018-05-23 13:44] vowelllDOE commented on #167
Thank you for the feedback, this should now be completed.

[2018-05-23 16:12] sarats commented on #166
Thanks for the quick turnaround.

[2018-05-23 16:12] #166 closed, assigned to nobody

[2018-05-23 16:13] #168 closed, assigned to nobody

[2018-05-23 16:13] #169 closed, assigned to nobody

[2018-05-23 16:14] #167 closed, assigned to nobody

[2018-05-24 17:32] #161 closed, assigned to nobody

[2018-05-24 17:33] vowelllDOE commented on #153
SVN is now supported.

Discussion on CVS is ongoing.

[2018-05-24 17:37] IanLee1521 commented on #161
Thanks @vowelllDOE !

[2018-07-05 19:18] turner61 opened #170 "size limits?"
checked the FAQ but didn't see the answer to this - what are size limits for these repos? I'm guessing the same as standard GitHub repos, but thought I'd check, because they're pretty small...

https://help.github.com/articles/what-is-my-disk-quota/
https://help.github.com/articles/working-with-large-files/

[2018-07-06 18:51] jayjaybillings commented on #170
We haven't established any special size limits. How much space do you want/need? I might recommend the OSTI GitLab service if you need something above and beyond.

Jay

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: John A. Turner <notifications@github.com>
Sent: Thursday, July 05, 201

[2018-10-05 19:28] vowelllDOE commented on #30
OBE

[2018-10-05 19:28] #30 closed, assigned to nobody

[2018-10-05 19:28] #160 closed, assigned to SledKnight, jayjaybillings, nensor, vowelllDOE, andrewsmith4814, stooksburysl

[2018-10-05 19:30] vowelllDOE commented on #38
fully support Federal Source Code Policy

[2018-10-05 19:30] #38 closed, assigned to jayjaybillings

[2018-10-05 19:30] vowelllDOE commented on #124
handled by lab 'admin' role

[2018-10-05 19:30] #124 closed, assigned to jayjaybillings, vowelllDOE

[2018-10-05 19:31] #81 closed, assigned to jayjaybillings

[2018-10-09 19:14] #77 closed, assigned to jayjaybillings, vowelllDOE

[2018-10-10 13:28] jayjaybillings commented on #77
That's funny... I was just thinking about this issue in the context of contributor licenses before I saw the email that it was closed. What was the resolution on this?

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Lance Vowell <notifications@github.com>
Sent: Tuesday, October 09, 201

[2018-10-10 13:29] vowelllDOE commented on #77
I may be misunderstanding the ticket, but you added this license almost two years ago:

https://github.com/doecode/doecode/blob/master/LICENSE

--
Lance Vowell
USDOE/OSTI

From: Jay Jay Billings <notifications@github.com>
Sent: Wednesday, October 10, 2018 9:28 AM
To: doecode/doecode <doecode@noreply.github.com>
Cc: Vowell, Lance <VowellL@osti.gov>; State change <state_change@noreply.github.com>
Su

[2018-10-10 13:53] jayjaybillings commented on #77
Not a big deal. We can talk offline sometime.

Jay Jay Billings
Team Lead, Scientific Software Development
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Lance Vowell <notifications@github.com>
Sent: Wednesday, October 10, 2018 9:29 AM
To: doecode/doecode
Cc: Billings, Jay Jay; Mention
Subject: Re: [doecode/doecode] Figure out licensing model f

[2019-05-13 19:23] #84 closed, assigned to keknight

[2019-05-13 19:23] #59 closed, assigned to keknight

[2019-05-13 19:23] #58 closed, assigned to keknight

[2019-05-13 19:23] #105 closed, assigned to nobody

[2019-05-13 19:24] #108 closed, assigned to nobody

[2019-05-13 19:24] #70 closed, assigned to nobody

[2019-05-13 19:24] #112 closed, assigned to nensor

[2019-05-13 19:24] #109 closed, assigned to nensor

[2019-05-13 19:25] #29 closed, assigned to nobody

[2019-05-13 19:33] jayjaybillings commented on #108
What is this and why am I getting these emails?

Sharon A. Porter/ Administrative Assistant for
Spectroscopy Group,
Scientific Computing & Software Engineering Group,
SNS Tour Coordinator,
Neutron Scattering Division

Oak Ridge National Laboratory
P.O. Box 2008 MS 6475
Oak Ridge, TN 37831-6475
865-576-5251 | Fax-865-574-6080 | portersa@ornl.gov<mailto:portersa@ornl.gov>

From: Lance Vowell <notifi

[2019-05-13 19:34] vowelllDOE commented on #108
Sharon,

Are you set to receive emails related to Jay Billings at ORNL?

--
Lance Vowell
USDOE/OSTI

From: Jay Jay Billings <notifications@github.com>
Sent: Monday, May 13, 2019 3:33 PM
To: doecode/doecode <doecode@noreply.github.com>
Cc: Vowell, Lance <VowellL@osti.gov>; State change <state_change@noreply.github.com>
Subject: Re: [doecode/doecode] Come up with failure scenarios & have restore tes

[2019-05-14 13:24] jayjaybillings commented on #108
Yes, Sharon gets my emails as well. Sorry if I missed something.

Jay Jay Billings
Acting Group Leader, Research Software Engineering
Oak Ridge National Laboratory
Twitter Handle: @jayjaybillings
________________________________
From: Lance Vowell <notifications@github.com>
Sent: Monday, May 13, 2019 3:34 PM
To: doecode/doecode
Cc: Billings, Jay Jay; Comment
Subject: Re: [doecode/doecode] Come up